<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cafebaljan: http://ogp.me/ns/apps/cafebaljan#">
    <title>{{good.title}}</title>
    
    <meta property="og:image" content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" />
    <meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}" />
    <meta property="og:url" content="{{good_url}}" />
    <meta property="og:type" content="cafebaljan:drink" />
</head>
<body>
    {% with good.current_cost_dict as cost %}
    <h1>{{good.title}} <small>{{cost.cost}} {{cost.currency}}</small></h1>
    {% endwith %}
</body>
</html>
