{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block body_class %}login{% endblock %}

{% block body %}
<h1>{% trans "Log in" %}</h1>

<div class="main">
    <div class="confirmed-highlight">
        {% blocktrans %}
        You need a LiU student account (<em>abcde123</em>) to log in. 

        In July 1, 2011, the Eletronic Communications Act 
        (<a href="https://lagen.nu/2003:389">2003:389</a>) was changed.
        By logging in, you accept that the site stores cookies on your
        device in order to keep a session.
        {% endblocktrans %}
    </div>

    <div>
        <form method="post" action="{% url login %}" class="uniForm">
        {% csrf_token %}
        {{form|as_uni_form}}
        <div class="buttonHolder">
            <input name="submit" class="submit submitButton" type="submit" value="{% trans "Log in" %}">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
{% endblock body %}
