{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load uni_form_tags %}
{% load baljan_extras %}

{% block head_title %}{% trans "Price List" %}{% endblock %}

{% block body_class %}price-list{% endblock %}
{% block body %}
<h1>{% trans "Price List" %}</h1>
<div class="grid_6 alpha main">
    <div>
        <h2>{% trans "Assortment" %}</h2>
        {{ datagrid.render_listview }}
    </div>
</div><!--.main-->
<div class="grid_4 omega secondary">
    <div>{# FIXME: Translate. #}
        <h2>{% trans "Ordering From Us" %}</h2>
        <p>
        Sektioner och andra studentföreningar har möjl&shy;igheten att beställa
        fika från oss mot fakt&shy;ura. Vi vill ha er beställning senast <span
        class="marker">kl 12 två vecko&shy;dagar i förväg</span> för att kunna
        garantera att ni får det ni vill ha. Detta gäller särskilt om ni vill
        be&shy;ställa baguetter eller större mängder kaffe.
        </p>
        <p>
        För att göra en beställning eller hämta ut be&shy;ställda varor måste
        ni <span class="marker">kontakta någon ur styr&shy;elsen</span> (<a
        href="mailto:{{CONTACT_EMAIL}}">epost</a> går bra). Tider då det
        säkert finns någon i styrelserummet som kan ta emot och lämna ut
        beställningar är vardagar kl 7.30-8.00, 12.00-12.30 och 16.15-16.45. Om
        ni vill hämta ut ert fika vid någon annan tid kan ni alltid fråga
        jour&shy;havande styrelse&shy;medlem, men vi lovar inte att det går att ordna.
        </p>
        <div class="ui-state-error">
            <span class="ui-icon ui-icon-alert" style="float:left"></span>
            Observera att personalen <strong>inte</strong> har möjlig&shy;het
            att ta emot eller lämna ut be&shy;ställningar! Mot&shy;svarande
            gäller för termos&shy;ar och andra saker som ut&shy;lånas: endast
            styr&shy;else&shy;med&shy;lemmar kan ta emot och lämna ut dem!
        </div>
        <div class="ui-state-highlight">
            <span class="ui-icon ui-icon-info" style="float:left"></span>
            Termosar, mjölk, socker och plast&shy;skedar ingår vid be&shy;ställning av
            kaffe/te/choklad.
        </div>
    </div>
</div><!--.secondary-->
<div class="clear"></div>
{% endblock %}

{% block extra_body %}
{% endblock %}
