*.sql

# To avoid confusing overrides by the .env file when using environment variables defined in Docker, we exclude it from
# the Docker environment.
.env
.env.docker

cafesys.db
cafesys/collected-static
*.pyc

# We don't need to copy this folder as its only purpose is deploying to production
kubernetes/
database/

docker-compose.yaml
Dockerfile
Procfile
README.md
Vagrantfile
.gitignore
.dockerignore
cafesys/baljan/static