.env
.env.docker
cafesys.db
cafesys/collected-static
*.pyc
.idea/
.vscode/

# Celery
celerybeat-schedule
celerybeat.pid

# Vagrant
.vagrant/
.venv/
ubuntu-xenial-16.04-cloudimg-console.log
vagrant-*

# Mac
.DS_STORE

# Kubernetes
/kubernetes/.env


node_modules