Django==5.2.1
django-extensions==4.1
django-environ==0.12.0
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
django-filter==25.1
django-redis==5.4.0
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==3.0.0
psycopg2==2.9.10

# Celery for async and periodic tasks
celery==5.5.3
django_celery_beat==2.8.1

# Social (i.e. LiU ID) login
social-auth-core==4.6.1
social-auth-app-django==5.4.3
git+https://github.com/Baljan/python-social-auth-liu@6647be8#egg=social-auth-liu

# PDFs
reportlab==4.4.1

# iCal export
icalendar==6.3.1

# HTTP client (used to communicate with external APIs)
requests==2.32.3

# Make the shell great again
ipython==9.3.0

# Sass processor
libsass==0.23.0
django-compressor==4.5.1
django-sass-processor==1.4.1

# Livereload
django-livereload-server==0.5.1

# Handle time better
pytz==2025.2

# Error handling
rollbar==1.3.0

# create graphs
seaborn==0.13.2 # not used, not updated

# Email
django-anymail==13.0

# Redis
redis==6.2.0
python-decouple==3.8

# Google API
google-api-python-client==2.163.0

# Slack Bolt
slack_bolt==1.23.0