gunicorn
ipython
PIL
-e git+http://github.com/jtauber/web-graphics.git#egg=web_graphics
--requirement=cafesys/requirements/project.txt

psycopg2
requests

python-memcached

# For Chrome kiosk:
#http://downloads.sourceforge.net/project/python-xlib/python-xlib/0.14/python-xlib-0.14.tar.gz?use_mirror=kent&44133608#egg=python-xlib

# For RFIDIOt:
#pycrypto

#pyserial
