{% extends "base.html" %}
{% load i18n %}

{% block body_base %}
    
    <div id="login">{% block login %}{% endblock %}{% block locale_switcher %}{% endblock %}</div>
    
    {% block body_outer %}
    <div id="body" class="container container_12">
        <div class="grid_2">
            <div id="logo">
                <a href="/"><img src="{{ STATIC_URL }}img/logo/baljan-logo.png" /></a>
            </div>
            <div id="nav">
            {% block nav %}{% endblock %}
            </div>
        </div>
        {#<div id="logo" class="9" dir="ltr">{% block logo_link_image %}{% endblock %}</div>#}
        <div id="main" class="grid_10">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <a href="#"><small>{% trans "hide" %}</small></a>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% block body %}
        {% endblock %}
        </div>

        <!--[if IE]>
            <div class="clear"></div>
            <p class="ie-support">
                {% blocktrans %}
                Basic functionality is tested in IE 8. You are encouraged to
                switch to a browser with support for transparency.
                {% endblocktrans %}
            </p>
        <![endif]-->
    </div>
    {% endblock %}
    
    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
{% endblock body_base %}
