{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}
{% load openid_tags %}
{% load ifsetting_tag %}
{% load analytics %}

{% load dajaxice_templatetags %}

{% block extra_head_base %}
    <link type="text/css" href="{{ STATIC_URL}}css/flick/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_base.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        {% ifopenid %}<img src="{{ STATIC_URL }}images/openid-icon.png" alt="Logged in with OpenID" />{% endifopenid %}<b>{% user_display user %}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% endif %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}img/baljan-logo.png" alt="Sectionscafé Baljan"/></a>{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_accounting"><a href="{% url accounting.views.index %}">{% trans "Accounting" %}</a></li>
            <li id="tab_calendar"><a href="{% url cal.views.worker_calendar %}">{% trans "Calendar" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "copyright &copy; 2010 Sektionscafé Baljan " %}<br/>
</div>
{% endblock %}
{% block extra_body_base %}
    {% ga %}
    <script type="text/javascript" src="/jsi18n"></script> 

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools.min.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.plugins.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.2.custom.min.js"></script>
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dajax.core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/g.raphael-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/g.pie-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/g.bar-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/g.dot-min.js"></script>
    {% block extra_body %}
    {% endblock %}
{% endblock %}
