{% extends "common.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{#{% load dajaxice_templatetags %}#}

{% block extra_head_base %}
    <!--[if IE]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/baljan-ie.css" />
    <![endif]-->
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        <a href="{{user.get_absolute_url}}">{{user}}</a>
        <span class="delim">|</span>
        <a href="{% url logout %}">{% trans "logout" %}</a>
    {% else %}
        <a href="{% url login %}">{% trans "login" %}</a> 
    {% endif %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}img/logo/baljan.png" alt="Sectionscafé Baljan"/></a>{% endblock %}

{% block right_tabs %}
{#<li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>#}
{% endblock %}

{% block nav %}
    <div id="links-for">
        {% for id, action_title, actions in action_categories %}
            <h3><a class="{{ id }}" href="#">{{ action_title }}</a></h3>
            <div>
                <ul>
                {% for action in actions %}
                    <li class="{% if action.active %}active{% endif %}"><a href="{{ action.link }}">{{ action.text }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
{% block extra_body_base %}
    {% block extra_body %}
    {% endblock %}

    {% if ANALYTICS_KEY %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ANALYTICS_KEY}}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
{% endblock %}

