.static-page {
  padding: 10px; }
  .static-page h2 {
    font-weight: bold; }
  .static-page p {
    margin-bottom: 10px; }

.shop .description {
  font-style: italic; }

.items .title, .items .description {
  float: left; }
.items .title {
  margin-right: 1em; }
.items .description {
  font-style: italic;
  font-size: .9rem;
  vertical-align: bottom; }
.items .cost {
  float: right;
  text-align: right; }
