<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>cafesys terminal</title> 
        <link rel="stylesheet" href="{{ STATIC_URL }}css/terminal.css" /> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.plugins.js"></script> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/terminal.js"></script> 
    </head> 
    
    <body class="terminal"> 
        <div class="last-balance">
            <strong>Kontobalans:</strong><br><span class="value">250 SEK</span>
            <div class="extra"></div>
        </div>
        <div class="order-container">
            <div class="menu">
            {% for item in items %}
                <div class="item" id="item-{{item.id}}">
                    <img src="{{ MEDIA_URL }}{{item.img}}" alt="product image" />
                    <div class="meta">
                        <h3>{{item.title}}</h3><p class="desc">{{item.description}}</p>
                        <div class="number">
                            <h4>Antal:</h4>
                            <span class="value"></span><br>
                            <span class="mod remove">-</span><span class="mod add">+</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="cost-total" id="cost-total">
                <div class="overlay"></div>
                <div class="non-overlay">
                    <h3>Kostnad:</h3><span class="value"></span><br>
                    <span class="help">visa kortet för att genomföra beställningen</span>
                </div>
            </div>
        </div>
        <div id="trig-order">Trigga beställning från <span>{{ student.liu_id|default:'regular' }}</span>!</div>
    </body>
</html>
