<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title>Sök till Baljans styrelse</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}assets/nomcom-datauri.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span16">
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <div class="info">
                    <h1>
                        Sök till Baljans styrelse
                    </h1>
                    <p>
                    Nu söker vi i Baljanstyret nya medlemmar! Som styrelsemedlem har du chans att vara med och påverka Baljan och får vara med och driva vårt studentcafé.
                    </p>
                </div>
            </div>

            <div class="span8">
                <div class="info">
                    <h2>Mingel</h2>
                    <p>
                    Torsdag lunch <strong>3 november</strong> har du chansen att mingla med baljanstyret för frågor och funderingar. Några av oss kommer att sitta i Baljan hela lunchen för att träffa er. Det går självklart även bra att maila <a href="mailto:val@baljan.org">val@baljan.org</a> för frågor.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <div class="info">
                    <h2>
                        Den här terminen har Baljan bland annat&hellip;
                    </h2>
                    <ul>
                        <li>
                        haft 122 fantastiska jobbare
                        </li>
                        <li>
                        köpt in och delat ut mjukglass
                        </li>
                        <li>
                        bytt leverantör av jochen till sänkt pris och högre kvalitet
                        </li>
                        <li>
                        gett bort 1 680 st kanelbullar 
                        </li>
                        <li>
                        sålt ungefär 40 000 koppar kaffe och 6 500 klägg
                        </li>
                        <li>
                        och mycket mycket mer...
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <div class="info">
                    <p>
                    Vad vill du ska hända i Baljans framtid? 
                    Sök Baljanstyret!
                    </p>
                </div>
                <div class="alert-message danger doit">
                    <p class="mail">
                    Maila <a href="mailto:val@baljan.org">val@baljan.org</a>.
                    </p>
                    <p class="latest">
                    Senast
                    <strong>6 november</strong>
                    vill vi ha din ansökan.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="photo">
        Foto: Jonas Olofsson
    </div>

    {% if ANALYTICS_KEY %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ANALYTICS_KEY}}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
</body>
</html>
