 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <title>{% block title %}Baljan{% endblock %}</title>
     <link rel="stylesheet" href="{{STATIC_URL}}sencha/resources/css/sencha-touch.css" type="text/css">
     <link rel="stylesheet" href="{{STATIC_URL}}assets/mobile.css" type="text/css">
     <script type="text/javascript" src="{{STATIC_URL}}assets/senchatouch.js"></script>
     <script type="text/javascript" src="{{STATIC_URL}}assets/mobile.js"></script>
 </head>
 <body>{% block body %}{% endblock %}</body>
 </html>

