{% extends "mobile/static.html" %}
{% block body %}
<p>
Sektioner och andra studentföreningar har möjl­igheten att beställa fika från oss mot fakt­ura. Vi vill ha er beställning senast kl 12 två vecko­dagar i förväg för att kunna garantera att ni får det ni vill ha. Detta gäller särskilt om ni vill be­ställa baguetter eller större mängder kaffe.
</p>

</p>
För att göra en beställning eller hämta ut be­ställda varor måste ni kontakta någon ur styr­elsen (epost går bra). Tider då det säkert finns någon i styrelserummet som kan ta emot och lämna ut beställningar är vardagar kl 7.30-8.00, 12.00-12.30 och 16.15-16.45. Om ni vill hämta ut ert fika vid någon annan tid kan ni alltid fråga jour­havande styrelse­medlem, men vi lovar inte att det går att ordna.
</p>

<p>
Observera att personalen inte har möjlig­het att ta emot eller lämna ut be­ställningar! Mot­svarande gäller för termos­ar och andra saker som ut­lånas: endast styr­else­med­lemmar kan ta emot och lämna ut dem!
</p>

<p>
Termosar, mjölk, socker och plast­skedar ingår vid be­ställning av kaffe/te/choklad.
</p>
{% endblock body %}

