{% load i18n %} {% load static %} {% load sass_tags %}
<!--
From us + ☕ + 🍻 + ❤️ = 
__________        .__       __                                       
\______   \_____  |  |     |__|____    ____       ___________  ____  
 |    |  _/\__  \ |  |     |  \__  \  /    \     /  _ \_  __ \/ ___\ 
 |    |   \ / __ \|  |__   |  |/ __ \|   |  \   (  <_> )  | \/ /_/  >
 |______  /(____  /____/\__|  (____  /___|  / /\ \____/|__|  \___  / 
        \/      \/     \______|    \/     \/  \/            /_____/  

  / 1337(at)baljan.org
  - Gustav Blomér
  - Olle Vidner
  - Tobias Lundgren 
  - Robert Pettersson  
  - Patrik Sletmo
  - Teodor Riddarhaage
-->
<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block head_title %} {% endblock %}</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/logo/favicon.ico' %}"
    />

    <link
      href="{% sass_src 'sass/bundle.scss' %}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    {% block extra_head_base %} {% block extra_head %}{% endblock %} {% endblock %}
    
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% block body_base %} {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery.plugins.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
      integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"
    ></script>
  </body>
</html>
