{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load baljan_extras %}
{% block body_base %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top shadow-sm baljan-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/svg/logo.svg' %}" alt="Sektionscafé Baljan" width="62">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fa fa-home text-primary"></i> Hem
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'high_score' %}">
            <i class="fa fa-trophy text-primary"></i> Topplistan</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order_from_us' %}">
            <i class="fa fa-shopping-cart text-primary"></i> Beställa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'credits' %}">
            <i class="fa fa-coffee text-primary" ></i> Kaffekort</a>
        </li>
        {% if perms.baljan.self_and_friend_signup %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'staff_homepage' %}">
            <i class="fa fa-user-tie text-primary" ></i> Personal</a>
        </li>
        {% endif %}
      </ul>
      {% block login %}
      {% if user.is_authenticated %}
        <div class="navbar-nav">
          <a href="{{user.get_absolute_url}}" class="nav-link">
            <i class="fa fa-user text-primary" aria-hidden="true"></i>
            {{user | display_name }}
          </a>
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="fa fa-sign-out-alt text-primary" aria-hidden="true"></i>
            Logga ut
          </a>
        </div>
      {% else %}
      <div class="navbar-nav">
          <a href="#footer" class="btn btn-outline-dark d-none d-sm-block">Kontakta oss</a>
          <a href="{% url 'social:begin' 'liu' %}" class="nav-link">
            <i class="fa fa-sign-in-alt text-primary"></i> Logga in
          </a>
        </div>
      {% endif %}
      {% endblock %}
    </div>
  </div>
</nav>
 
<main id="content">
  {% include 'baljan/_card_missing_notice.html' %}
  <div class="container">
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
      {% endfor %}
  </div>
  {% block full_body %}
    <div class="container mt-4">
      {% block body %} {% endblock %}
    </div>
  {% endblock %}
</main>



<footer class="mb-5" id="footer">
  <div class="pattern my-5"></div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 id="contact">Kontakta oss</h2>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12 col-md-6">
        <p>Baljan finns på bottenplan i
          <a href="http://karallen.se/" rel="nofollow">Kårallen</a>, campus Valla, Linköping.</p>
        <address>
          <strong>Sektionscafé Baljan</strong>
          <br> Kårallen, universitetet
          <br> 581 83 Linköping
          <br>
        </address>
        <address>
          <strong>Telefon</strong>
          <br>
          <a href="tel:+46766860043">076-686 00 43</a>
        </address>
          <strong>Integritetspolicy</strong>
          <br><a href="{% url "integrity" %}">Baljans integritetspolicy</a>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-6">
            <address>
              <strong>Styrelsen</strong>
              <small>(Generella frågor)</small>
              <br>
              <a href="mailto:styrelsen@baljan.org">styrelsen@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Jour</strong>
              <small>(Frågor angående beställningar)</small>
              <br>
              <a href="mailto:bestallning@baljan.org">bestallning@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Ordförande</strong>
              <br>
              <a href="mailto:ordf@baljan.org">ordf@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Vice Ordförande</strong>
              <br>
              <a href="mailto:vice.ordf@baljan.org">vice.ordf@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Kassör</strong>
              <br>
              <a href="mailto:kassor@baljan.org">kassor@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Personalis</strong>
              <br>
              <a href="mailto:personalis@baljan.org">personalis@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Party</strong>
              <br>
              <a href="mailto:party@baljan.org">party@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Nördar</strong>
              <br>
              <a href="mailto:1337@baljan.org">1337@baljan.org</a>
            </address>
          </div>
          <div class="col-6">
            <address>
              <strong>Valberedning</strong>
              <br>
              <a href="mailto:val@baljan.org">val@baljan.org</a>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


{% block extra_body_base %}
{% block extra_body %}
{% endblock %}
{% endblock %}
{% endblock body_base %}