{% extends "common.html" %}

{% load i18n %}
{% load static %}

{% block right_tabs %}
{% endblock %}

{% block footer %}
{% endblock %}
{% block extra_body_base %}
    {% block extra_body %}
    {% endblock %}

    {% if ANALYTICS_KEY %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ANALYTICS_KEY}}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
{% endblock %}

