{% load account_tags %}
{% load openid_tags %}
{% load ifsetting_tag %}
{% load analytics %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{#<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />#}
<link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" />
<link type="text/css" href="{{ STATIC_URL}}css/flick/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/baljan.css" />
<!--[if IE]>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/baljan-ie.css" />
<![endif]-->

<script src="{% block jquery_src %}{{ STATIC_URL }}js/jquery-1.4.2.min.js{% endblock %}" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.2.custom.min.js"></script>
<script src="{{ STATIC_URL }}pinax/js/base.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/baljan.js"></script> 

{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
{% if not is_popup %}
<div id="login">
    {% if user.is_authenticated %}
        <strong><a href="{{user.get_absolute_url}}">{% user_display user %}</a></strong> 
        {#| <a href="{% url acct_email %}">{% trans "Account" %}</a>#} <span class="delim">|</span>
        <a href="{% url acct_logout %}">{% trans "logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "login" %}</a> 
    {% endif %}
</div>

<div id="body" {% if not is_popup %}class="container_12"{% endif %}>
    <div class="grid_2">
        <div id="logo">
            <a href="/"><img src="{{ STATIC_URL }}img/logo/baljan.png" /></a>
        </div>
        <div id="nav">
        {% for id, action_title, actions in action_categories %}
            <h3><a class="{{ id }}" href="#">{{ action_title }}</a></h3>
            <div>
                <ul>
                {% for action in actions %}
                    <li class="{% if action.active %}active{% endif %}"><a href="{{ action.link }}">{{ action.text }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Container -->
    <div class="{% if not is_popup %}grid_10{% endif %} admin">

        {% if not is_popup %}
        {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
        {% endif %}

            {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
            {% endif %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear" />
        </div>
        <!-- END Content -->

        {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
    <!-- END Container -->
</div>

</body>
</html>
