
/* For high-quality open fonts, see http://code.google.com/webfonts */

/* GENERAL */

html, body {
    height: 100%;
}
body {
    background-color: #efefef;
    background-image: url(../img/tile-dark.png);
    margin: 0;
    color: #333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
}
img {
    border: 0;
}
dt {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
}
div#body {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
td, th {
    margin: 0;
    border: 0;
    padding: 0 .5em;
}
.even td {
    background: #eee;
}
.even .week, .even .day-name {
    background-color: transparent; /* to keep the vertical alignment */
}
.exam-period {
    color: #a33;
}
h1 {
    margin: 0;
    color: #FF0084;
    text-shadow: 1px -1px 0px #903;
}
div.admin h1 {
    text-shadow: none;
}

a:link, a:active, a:hover, a:visited, .link {
    cursor: pointer;
    color: #0073EA;
    text-decoration: none;
}
a:hover, .link:hover {
    text-decoration: underline;
}

/* CLEARS */

.clearboth {
    clear: both;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */

/* FORMS */

form th {
    text-align : left;
}
form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="text"], input[type="password"], textarea {
    padding: 3px;
    margin: 3px;
    border: solid 1px #C6C6C6;
    border-bottom: solid 1px #E3E3E3;
    color: #666;
    font-size: 12pt;
    /*background: #F3F3F3 url('../img/form-shadow.png') left top repeat-x;*/
}
ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}


/* MESSAGES */

ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    margin: 3px;
}
ul#messages li a {
    float: right;
    color: #693;
}
ul#messages .debug {
    background: #EEE;
    border: 1px solid #BBB;
}
ul#messages .info {
    background: #DEF;
    border: 1px solid #9BC;
}
ul#messages .success {
    background: #EFD;
    border: 1px solid #BC9;
}
ul#messages .warning {
    background: #FED;
    border: 1px solid #CB9;
}
ul#messages .error {
    background: #FDD;
    border: 1px solid #C99;
}


/* FORM TOGGLE */

.form-toggle p {
    margin-bottom: 2px;
}

.form-toggle p span {
    background: #DEF;
    padding: 3px 6px;
    border-top: 1px solid #9BC;
    border-left: 1px solid #9BC;
    border-right: 1px solid #9BC;
    cursor: pointer;
}

.form-toggle form {
    padding: 3px 6px;
    margin: 0;
    background: #DEF;
    border: 1px solid #9BC;
}



/* EXTRAS TO CLEAN UP */

.warning {
    color: red;
    font-weight: bold;
}

div.profile_info p {
    margin: 0;
}
div.left_panel {
    width: 550px;
}
div.right_panel {
    margin-top: 20px;
    width: 200px;
    float: right;
    z-index: 999;
}

/* BALJAN */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-weight: bold;
}
form table th {
    font-weight: normal;
}

#logo {
    text-align: center;
    margin-top: -23px;
}
.init-hidden {
    visibility: hidden;
    display: none;
}
.inbox {
    /* unread notifications */
}
.tooltip {
    display:none;
    background:url(../img/tt/black_big.png);
    height:174px;
    width:350px;
    padding: 10px;
    font-size:11px;
    color:#fff;
}
.tooltip a {
    color:#ad4;
    font-size:11px;
    font-weight:bold;
}
div.submit {
    text-align: right;
}

li.selected {
    font-weight: bold;
}

#body {
    float: left;
    clear: both;
}

#logo {
}

#login, #login a {
    color: #fff;
}
#login .delim {
    color: #999;
}
#login {
    text-align: right;
    background: #444;
    padding: .3em;
}
#login a {
    font-weight: bold;
    text-decoration: none;
}

#nav .links-for div, #nav .links-for ul, #nav .links-for li {
    padding: 0;
    margin: 0;
}
#nav ul {
    padding-left: 18px;
    list-style-image: url(../img/coffee-bullet-gray.png);
}
#nav ul li:hover, #nav li.active {
    list-style-image: url(../img/coffee-bullet-pink.png);
}

#nav .ui-accordion-content {
    padding: .5em 1em;
}

#nav .ui-accordion-header a, #nav .ui-accordion-header a:hover {
    padding: .1em;
    padding-left: 2.2em;
    text-decoration: none;
}
#nav li a {
    display: block;
    text-decoration: none;
    color: #FF0084;
}
#nav li.active a, #nav li a:hover {
    text-decoration: underline;
}

.hide {
    visibility: hidden;
}
table th, table td {
    text-align: left;
}

body.semesters ul.semesters {
}

body.admin #container {
    min-width: 0px;
    padding: 0;
    margin: 0;
    width: auto;
}

.container_12 {
    float: left;
}

#main {
    margin-top: 1em;
}

.person, .main div, .secondary div {
    padding: .5em;
    margin: 1em 0;
    background: rgb(255, 255, 255);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.box-actions {
    margin: 0 !important;
    padding: 0 !important;
    text-align: right;
    float: right;
}
.main div.layout, .secondary div.layout {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
}
body .main img, body .secondary img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
body .main div img, body .secondary div img {
    /* Less radius for images inside divs looks better. */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    order-radius: 5px;
}
body .main div h2, body .secondary div h2 {
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
}
body .undo-highlight, .invalid {
    background: #fee !important;
    border: 1px solid #f00 !important;
}
body .pending-highlight, .pending {
    background: #ffc !important;
    border: 1px solid #aa0 !important;
    color: #990;
}
body .pending-highlight .action {
    background: #eea;
}
body .confirmed-highlight, .saved {
    background: #efe !important;
    border: 1px solid #0a0 !important;
}
.confirmed-highlight, .saved {
    color: #090;
}
.undo-highlight, .invalid {
    color: #f00;
}
.saved, .invalid, .pending {
    text-align: center;
}
span.invalid, span.pending-highlight, span.confirmed-highlight, span.saved, span.pending {
    padding-left: .5em;
    padding-right: .5em;
}

body.semester .day-name, body.semester .week {
    visibility: hidden;
}
body.semester .hide {
    visibility: hidden;
}
body.semester .show {
    visibility: visible;
}
body.semester .accepts, body.semester .empty {
    background: #fee;
}
body.semester .even .accepts, body.semester .even .empty {
    background: #fdd;
}
body.semester table.plain .accepts,
body.semester table.plain .empty,
body.semester table.plain .hide,
body.semester table.plain .day-name,
body.semester table.plain .week,
body.semester table.plain .even td,
body.semester table.plain .odd {
    background-color: transparent;
    visibility: visible;
}
body.day .empty, body.semester .past {
    color: #aaa;
}
body.user .tradable a, body.semester .tradable {
    text-decoration: line-through;
}
body.semester .today {
    /* Be cautious when changing rules here. */
}
body.semester ul.users {
    padding: 1em;
}
body.semester .overlap {
    color: #aaa;
}

.top-nav {
    margin-bottom: 1em;
}
body.day h2.early-or-late {
    margin: 0;
    padding: 0;
    margin-top: .2em;
    font-size: 1.4em;
}
body.day .shift-top {
    margin: 1em 0;
    margin-bottom: 0;
}
body.day .shift-top .admin-link {
    margin-top: .5em;
    line-height: 2em;
}
body.day .schedule {
}
body.day .person {
    padding: .5em;
    height: 10em;
}
body.day .sign-up {
    text-align: right;
    margin-top: 0em;
    height: auto;
}
body.day .schedule .worker .person {
}
body.day .schedule .on-call .person {
}
body.day .tradable .type {
    color: #f00;
}

body.user .signups table {
    width: 100%;
}
body.user .signups .group td {
    color: #999;
}
body.user .friend-request {
    text-align: center;
}
body.user .profile .picture {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body.become-worker .toggle-request a {
    font-size: 1.5em;
}
body.become-worker .toggle-request {
    text-align: center;
}

body.credits .credits {
    border: 1px solid #ccc;
    background-color: #eee;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

body.job-opening .user-adder input[type=text] {
    margin: 0;
    padding: 0;
    width: 100%;
}
body.job-opening .user-adder input[type=button] {
    height: 100%;
}
body.job-opening .user-adder .message span {
    display: block;
    padding: 0;
    width: 100%;
    border-top: none !important;
}
body.job-opening .user-action, body .job-opening .user-action-info {
    display: none;
}
body.job-opening .user-adder {
}
body.job-opening #add-to-group {
    display: inline;
}
body.job-opening .work-pair {
    text-align: left;
}
body.job-opening .work-pair ul, body.job-opening .work-pair ul li {
    margin-top: 0;
    padding-top: 0;
}
body.job-opening .slots {
}
body.job-opening .slots td {
    padding: .3em;
    border: 1px solid rgb(151, 192, 234);
    cursor: pointer;
    text-align: center;
}
body.job-opening .slots td:hover {
    background: rgba(151, 192, 234, 0.2);
}
body.job-opening .slots td.padding:hover {
    background: inherit;
    cursor: default;
}
body.job-opening .slots td.active {
    background: rgba(151, 192, 234, 0.4);
}
body.job-opening .slots td.taken,
body.job-opening .slots td.taken:hover {
    background: #ccc;
    color: #666;
    cursor: default;
}

.admin-link {
    background: inherit !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: right;
}

body.board-week table {
    width: 100%;
    font-size: 2.5em;
    border-collapse: collapse;
}
body.board-week th {
    border-bottom: 3px solid;
}
body.board-week .day, body.board-week .week {
    border-right: 3px solid;
    text-align: right;
}
body.board-week h2 {
    padding: 0;
    margin-bottom: .2em;
    font-size: 1.8em;
    border-bottom: 3px solid;
}
body.board-week h2, body.board-week .day, 
body.board-week .chalkboard .link,
body.board-week .chalkboard a,
body.board-week .week, body.board-week th {
    color: #faa;
    border-color: #faa;
}
body.board-week .week .num {
    color: #fff;
}
body.board-week p {
    margin: .5em 0;
    margin-top: 0;
    padding-top: 0;
}
body.board-week table .week {
    font-size: .8em;
}
body.board-week table td {
    width: 25%;
}
body.board-week .available-users {
    font-weight: bold;
    font-size: 1.5em;
}
body.board-week .chalkboard .submit .link,
body.board-week .chalkboard .submit a {
    font-size: 2.5em;
    margin-left: .5em;
}
body.board-week .droppable span.active, body.board-week .available-users .active {
    color: #ffc;
}
body.board-week .available-users span,
body.board-week table td span {
    cursor: pointer;
}
body.board-week .available-users span img {
    max-height: 3em;
}
body.board-week .available-users .active,
body.board-week .droppable.active {
    background-color: rgba(255, 255, 255, 0.2);
}
body.board-week .droppable.hover {
    background-color: rgba(255, 255, 255, 0.5);
}
body.board-week .chalkboard {
    cursor: default;
}

body.search-person .results li {
    float: left; 
    width: 47.5%;
    margin-right: 2.5%;
}

body.admin-semester .month {
    width: 29.83%;
    margin-right: 1.5%;
    padding: .5em 1%;
    float: left;
    background: #fff;
    margin-bottom: 8px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
body.admin-semester .month h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}
body.admin-semester .month table {
    width: 100%;
    font-size: .8em;
    cursor: default;
}
body.admin-semester .month th.am-lunch-pm {
    text-align: center;
}
body.admin-semester .month tr.even {
}
body.admin-semester .month td {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}
body.admin-semester .month td.day {
    border: none;
}
body.admin-semester .month .day {
    width: 10%;
    text-align: right;
}
body.admin-semester .month .shift {
    width: 35%;
    text-align: center;
}
body.admin-semester .month .span-1 {
    width: 20%;
}
body.admin-semester .month .shift .taken {
    color: #ccc;
}
body.admin-semester td.disabled {
    border-bottom: 1px solid #222;
}
body.admin-semester .disabled {
    background: #111;
    color: #fff;
}
body.admin-semester td.exam-period {
    border-bottom: 1px solid #5d8dc0;
}
body.admin-semester .exam-period {
    background: #71acea;
    color: #fff;
}
body.admin-semester .normal {
    background: #fff;
    color: #111;
}
body.admin-semester .box {
    width: 1.2em;
    display: block;
    margin-right: .3em;
    float: left;
}
body.admin-semester .selection input[disabled] {
    background: #eee;
    color: #666;
}
body.admin-semester td.shift .highlight {
    background: #ffa;
    color: #330;
}
body.admin-semester .selection input {
    width: 98%;
    text-align: left;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Job Opening Projector View */
body.job-opening-projector {
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-weight: bold;
    color: #FF0084;
    text-shadow: 1px -1px 0px #903;
}
body.job-opening-projector .slots td.taken {
    visibility: hidden;
}
body.job-opening-projector div.container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: .5em;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
body.job-opening-projector div.container .last-updated {
    text-align: center;
}
body.job-opening-projector table {
    width: 100%;
    padding: 0;
}
body.job-opening-projector table td {
    text-align: center;
    padding: .8em 0;
}

body.orders .date-change {
    font-weight: bold;
}

/* High Score View */
body.high-score .score {
    padding-bottom: 2em;
}
body.high-score table .pos {
    width: 10%;
    text-align: right;
    font-style: italic;
}
body.high-score table .blips {
    width: 20%;
    text-align: right;
}
body.high-score table .name {
    width: 70%;
}
body.high-score table .name .motto {
    color: #666;
    font-size: .9em;
}

.ui-selected div, .ui-selecting div {
    background: rgba(255, 0, 132, 0.5);
}

.chalkboard {
    color: #fff;
    background-color: #222;
    background-image: url(../img/chalkboard-bg.png);
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-weight: bold;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 10px;
}

p.background-image {
    margin: 1em;
    font-size: .8em;
    text-align: right;
}

.marker {
    background: #ffa;
}

fieldset {
    border: none;
}
