html {
  box-sizing: border-box;
  font-size: 1em;
  height: 100%;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    @extend *;
  }
}

body {
  color: $color-text-main;
  font: #{$font-size-base}/#{$line-height-base} $font-family-base;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; //The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  -webkit-font-smoothing: antialiased; //Make text look good on mac(Tim Van Damme test)
}

@include H($font-size-base, $scale);

a {
  background: transparent;
  color: $color-link;
  text-decoration: $link-hover-decoration;
  transition: color .2s;
  @include hover {
    color: $color-link-hover;
  }
}

p {
  color: transparentize($color-text-main, .1);
  font-weight: 400;
  line-height: $line-height-small;
  margin: 0;
  margin-bottom: $margin;
}

small,
.small {
  color: $color-text-main;
  font-size: $font-size-small;
  line-height: $line-height-base;
}

strong {
  font-weight: 800;
}
b {
  font-weight: 600;
}



img {
  height: auto;
  max-width: 100%;
}




.container-styrelsen {
  position: relative;
  width: 70vw;
}

.image-styrelsen{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.info-styrelsen {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text-styrelsen {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.styrelse-member {

  transition: .5s ease;


  background-color: blue;
  opacity: 0.1;
  width: 10%;
  height: 14%;
  z-index: 100;
  position: absolute;
  }

.styrelse-profile {
  max-width: 540px;
  position: absolute;
  top: 100px;
  left: 100px;
  opacity: 0;
}

.styrelse-member:hover ~ .image-styrelsen {
  opacity: 0.3;
}

#ordf:hover ~ #ordf-prof{
  opacity: 1;
  z-index: 200;
}

#vice-ordf:hover {
  opacity: 1;
}

#kass:hover {
  opacity: 1;
}
