//==============================================
// Layout/admin-semester
//==============================================

.ui-selected,
.ui-selecting {
  background: rgba($baljan-pink, 0.5) !important;
}
.highlight {
  background: rgba($baljan-yellow, 0.5) !important;
}
.taken {
  background: rgba($baljan-dark-blue, 0.1) !important;
}
.admin-semester-week {
  text-align: center;
  background: lighten($baljan-dark-blue, 50) !important;
  font-size: 0.8rem;
  padding: 0.5rem !important;
}
