//==============================================
// Layout/admin-semester
//==============================================

.ui-selected,
.ui-selecting {
  background: rgba($pink, 0.5) !important;
}
.highlight {
  background: rgba($yellow, 0.5);
}
.taken {
  background: rgba(black, 0.1);
}
.admin-semester-week {
  text-align: center;
  background: rgba($dark-blue, 0.2);
  font-size: 0.8rem;
  padding: 0.5rem !important;
}
