//==============================================
// Layout/admin-semester
//==============================================

.ui-selected, .ui-selecting{
  background: rgba($pink, 0.5)!important;
}
.highlight{
  background: rgba($yellow, 0.5);
}
.taken{
  background: rgba(black, 0.1);
}
