
//==============================================
// Layout/header
//==============================================

body.about #content {
  #header-image {
    background: darken(#352723, 4) url('/static/img/splash.jpeg'); // #352723 is average color of splash image.
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #fff;
      padding: 20px;
      font-size: 65px;
      border-radius: 8px;
      text-shadow: 0 0 25px #000;
      margin-bottom: 25vh;
      margin-top: 3rem;

      @media screen and (max-width: 800px) {
        font-size: 42px;
        margin-top: 2rem;
      }

      @media screen and (max-width: 400px) {
        font-size: 32px;
        margin-top: 2rem;
      }
    }

    @media screen and (max-width: 600px) {
      background-position: center;
    }

    section {
      background: rgba($black, 0.9);
      backdrop-filter: blur(10px);
      padding: 2rem 0;

      h3,
      p {
        color: $white;
      }
    }
  }

  h3 {
    font-size: 2rem;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
