//==============================================
// Layout/header
//==============================================
//  +media-breakpoint-up(sm) {
//   body {
//     background: #000;
//   }
// }
//
body.fixed-navbar main.bd-masthead{
  padding-top: (74px + 40px); // navbar-height + main-toppadding
  background-position-y: (74px + 0px) !important;
}

.Baljan__header {
  margin-top: $margin;
}

.navbar-brand {
  padding-right: 10px;
}

.navbar {
  transition: all 300ms;
  width: 100%;
  z-index: 10;
  &.fixed {
    position: fixed;
    background: #FFF;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .09);
    .btn {
      background-color: $pink;
      color: white;
      &:hover {
        background-color: transparent;
        color: $pink;
      }
    }
  }
  ul {
    li {
      a {
        font-family: $font-second;
        color: $dark-blue;
        font-size: 1.2rem;
        border: 2px solid transparent;
        text-align: center;
        &:hover {
          color: $blue; // background: $pink;
          // border: 2px solid $pink;
          // border-radius: 5px;
          i {
            // color: $dark-blue;
            opacity: 0.8;
          } // &:after {
          //   transform: scaleX(0.7);
          // }
        }
        i {
          color: $pink;
          margin-right: 5px;
          font-size: 1.5rem;
        } // &:after {
        //   display:block;
        //   content: '';
        //   border-bottom: solid 3px $pink;
        //   transform: scaleX(0);
        //   border-radius: 25px;
        //   transition: transform 250ms ease-in-out;
        //   margin-top: 5px;
        // }
        //   +media-breakpoint-down(md) {
        //   color: green;
        //   background: green;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        // }
      }
    }
  }
}

.contact-btn {
  font-weight: bold;
  color: $dark-blue;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

.usericon {
  color: $dark-blue; 
  background-color: #f8f8f8;
  padding: 7px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  margin-top: 4px;
}

.username {
  font-size: 90%;
  font-weight: bold;
  margin-top: 4px;

}

.button-container {
  display: flex;
  align-items: center;
}

body.about {
    main:first-of-type {
    background-color: #f4f3f1;
    // background: url('/static/img/coffee-bg1.jpg');
    // background: url('https://images.unsplash.com/photo-1510547668050-f88ebf0c1a61?auto=format&fit=crop&w=3300&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    // background: url('https://images.unsplash.com/photo-1510520555468-ffab137027f5?auto=format&fit=crop&w=3300&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    // background: url('https://images.unsplash.com/photo-1455134168668-4066045897c3?auto=format&fit=crop&w=3400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    // background: url('https://images.unsplash.com/44/E5KMvPp9SsCnqmEGUwAS_2014-08-10%2012.56.40%201.jpg?auto=format&fit=crop&w=1918&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background: url('https://images.unsplash.com/photo-1447933601403-0c6688de566e?auto=format&fit=crop&w=3356&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background-size: cover;
    // background-position: center center;
    // background-position-y: -150px;
  
     p.lead {
      padding: 20px;
      background-color: $dark-blue;
      color: #FFF;
      font-weight: bold;
      border-radius: 8px;
    }
  } 
}


