$ht21-orange: #ffc300;
$vt22-orange: #ffb380;

.container-styrelsen {
  position: relative;
  margin: 0 auto;


  & > .hover-area {
    width: 10%;
    height: 20%;
    z-index: 2;
    position: absolute;

    &:hover + .card {
      transform: scale(1);
      opacity: 1;
    }

    &:hover ~ .main-image {
      opacity: 0.6;
    }
  }

  .card {
    transition: all 0.3s ease;
    width: 40vw;
    max-width: 40rem;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 10vh;
    right: 5vw;
    transform: scale(0.8);
    opacity: 0;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media only screen and (max-width: 600px) {
      width: auto !important;
      right: 0 !important;
      left: 0 !important;
      top: 60vw !important;
    }

    & > img {
      max-height: 250px;
      padding: 10px 20px 0;
      border-radius: 0;
      object-fit: contain;
      object-position: center 4px;
      background: $ht21-orange;
      background: url("/static/img/mountains.svg"), linear-gradient(0deg, rgba($vt22-orange, 0.6) 0%, $baljan-blue 200%);
      background-repeat: no-repeat, no-repeat;
      background-position: bottom, bottom;
      @supports not (backdrop-filter: blur(10px)) {
        /* CSS to provide fallback alternative for Firefox and similar browsers */
        & {
          background-image: url("/static/img/mountains.svg"), linear-gradient(0deg, $vt22-orange 0%, $baljan-blue 200%);
        }
      }
    }
  }

  .card-body {
    border-style: solid;
    border-width: 7px;
    border-color: $baljan-dark-blue;
    border-top: none;
    background-color: $baljan-white;

    h2 {
      font-size: 1.4rem;
      color: $baljan-pink;
      margin-bottom: 0.75rem;
    }

    h3 {
      font-size: 1.2rem;
      color: $baljan-blue;
      margin: 0.25rem 0;
    }
    p {
      font-size: 1.1rem;
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .main-image {
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease;
    border-radius: 25px;
    max-width: 1192px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
