//==============================================
// Module/buttons
//==============================================

.btn {
  font-weight: bold;
}

.btn-outline-primary {
  border-color: $color-primary;
  color: $color-primary;
  border-width: 2px;
  &:hover,&:active {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $white;
  }
  &:active, &:focus {
    box-shadow: 0 0 0 3px rgba(230, 0, 139,.5);
  }
}

.btn-outline-info {
  border-color: $blue;
  color: $blue;
  border-width: 2px;
  &:hover,&:active {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
  &:active, &:focus {
    box-shadow: 0 0 0 3px rgba(230, 0, 139,.5);
  }
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  color: $white;
  &:hover:enabled,&:active:enabled {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $white;
  }
  &:active, &:focus {
    box-shadow: 0 0 0 3px rgba(0, 164, 224,.5);
  }
  &:disabled {
    cursor: default;
  }
}

input[type=submit], button {
  cursor: pointer;
}
