.btn-yellow-coffee-card {
  --bs-btn-bg: hsl(50, 100%, 85%);
  --bs-btn-border-color: hsl(50, 83%, 65%);
  --bs-btn-hover-bg: hsl(50, 100%, 77%);
}
.btn-blue-coffee-card {
  --bs-btn-bg: hsl(231, 100%, 82%);
  --bs-btn-border-color: hsl(231, 100%, 72%);
  --bs-btn-hover-bg: hsl(231, 88%, 73%);
}
