//==============================================
// Module/helpres
//==============================================

.br {
	// margin-bottom: $margin;
}

.bold {
  font-weight: bold;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.wrapper {
  padding: 20px 0;
}

.wrapper--md {
  padding: 40px 0;
}
.wrapper--lg {
  padding: 80px 0;
}


//==============================================
// Typography
//==============================================


// Baljan

.pattern {
  background-image: url(../img/svg/pattern.svg);
  /* background-image: url(pattern-small.png); */
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: center;
  height: 30px;
  position: relative;

}
