//==============================================
// Module/inputs, forms, textarea
//==============================================

.form-check-label span {
    display: inline-block;
    padding-top: 3px;
}


.order-group input[readonly] {
  background-color: $baljan-white !important;
  padding-right: 0;
  pointer-events: none;
}
