.table-baljan{
  overflow: hidden;
  border-radius: 0.25rem;
  thead tr{
    background-color: $dark-blue;
    color: $white;

  }
  th, td{
    border: 0px;
    border-bottom: 1px solid $dark-blue;
  }
  tbody tr:nth-of-type(even){
    background-color: rgba($dark-blue, 0.03);
  }
}