{% extends "site_base.html" %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/calendar.css" />
{% endblock %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Calendar" %}{% endblock %}

{% block body %}
    <h1>{% trans "Calendar" %}</h1>
    {% for year, month, week_data in calendar %}
        {{year}} &mdash; {{month}}
        <table>
        {% for week in week_data %}
            <tr>
                <td>{{week.number}}</td>
                {% for day in week.days %}
                    {% ifequal day.day 0 %}
                        <td></td>
                    {% else %}
                        <td>{{day.day}}</td>
                    {% endifequal %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
