{% extends "site_base.html" %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/calendar.css" />
{% endblock %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Calendar" %}{% endblock %}

{% block body %}
    <h1>{% trans "Calendar" %}</h1>
    {% for ymd in calendar %}
        {{ymd.0}}<br/>
        {{ymd.1}}
        {% for week in ymd.2 %}
            {% for day in week %}
                {{day.day}}, {{day.morning}}, {{day.afternoon}}|<br/>
            {% endfor %}
            ==<br/>
        {% endfor %}
    {% endfor %}
{% endblock %}
