{% extends "calendar/calendar.html" %}
{% load i18n %}
{% load humanize %}

{% block head_title %}{% trans "Swappable" %}{% endblock %}

{% block body %}
{% if is_worker %}
    <h2>{% trans "Shift Swaps" %}</h2>

    <div class="swap-requests">
        <h3>{% trans "Sent Requests" %}</h3>
        <ul>
            {% for sent in sent_requests %}
            <li>
                {% trans "you want" %}
                <a title="{% trans "go to this month" %}" href="{% url cal.views.worker_calendar sent.get_scheduled.shift.day.year sent.get_scheduled.shift.day.month %}">{% trans sent.get_scheduled.shift.name %} {{ sent.get_scheduled.shift.day|naturalday:"Y-m-d" }}</a>
                {% trans "from" %}
                {{ sent.get_scheduled.student.liu_id }}
                ( <span class="link remove-sent-request request-{{sent.pk}}">{% trans "remove" %}</span> )
            </li>
            {% empty %}
            <li>
                {% trans "You have no pending requests " %}
            </li>
            {% endfor %}
        </ul>
        <h3>{% trans "Received Requests" %}</h3>
        <ul>
            {% for received in received_requests %}
            <li>
                {{ received.student.liu_id }} {% trans "wants" %}
                <a title="{% trans "go to this month" %}" href="{% url cal.views.worker_calendar received.get_scheduled.shift.day.year received.get_scheduled.shift.day.month %}">{% trans received.get_scheduled.shift.name %} {{ received.get_scheduled.shift.day|naturalday:"Y-m-d" }}</a>
                {% trans "from you" %}
                (
                <span class="link respond-received-request request-{{received.pk}}">{% trans "respond" %}</span>
                )
            </li>
            {% empty %}
            <li>
                {% trans "You have no pending requests" %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="swappables">
        <h3>{% trans "Swappable Shifts" %}</h3>
        {% if swappables %}
        <div class="ui-widget">
            <div class="ui-state-highlight ui-corner-all">
                <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
                {% blocktrans %}
                Workers on these shifts would like to swap. You may send swap requests
                to them if you would rather work on one of these shifts.
                {% endblocktrans %}
                </p>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>{% trans "date" %}</th>
                    <th>{% trans "when" %}</th>
                    <th colspan="2">{% trans "who" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for swap in swappables %}
                <tr>
                    <td class="day">
                        <a title="{% trans "go to this month" %}" href="{% url cal.views.worker_calendar swap.shift.day.year swap.shift.day.month %}">{{ swap.shift.day|naturalday:"Y-m-d" }}</a>
                    </td>
                    <td class="when">{% trans swap.shift.name %}</td>
                    <td>{{ swap.student.liu_id }}</td>
                    <td>
                        {% if not swap.student == student %}
                        <span class="link request-swap scheduled-{{ swap.shift.name }}-{{ swap.pk }}">{% trans "send request" %}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>
            {% trans "Currently, no workers want to swap shifts." %}
        </p>
        {% endif %}
    </div>
{% else %}
<p>
{% trans "You are not a worker." %}
</p>
{% endif %}
{% endblock %}
