html {
    background-color: #444;
    background-image: url('images/queue-bw.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    margin-top: 40px;
    margin-bottom: 40px;
    background: transparent;
}

#poster .alert-message strong {
    display: block;
}

#sok .alert-message a {
    color: inherit;
}

div.info {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
}

a, a:link, a:visited, a:active, a:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

div.info h1, 
div.info ul, 
div.info li, 
div.info h2 {
    color: #fff;
}

.alert-message.doit {
    padding: 15px;
    text-align: center;
}
.alert-message p.mail {
    font-size: 20px;
    margin-bottom: 15px;
}

.container {
    position: absolute;
    left: 20px;
    bottom: 0;
}

#photo {
    position: absolute;
    right: 3px;
    bottom: 0;
    color: #fff;
}
