{% if user.is_authenticated and user.profile.balance > 0 and user.profile.card_id == None %}
    <div class="alert alert-warning fade show call-to-action" role="alert">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>
                        <strong>Ojdå!</strong> Du har inte fyllt i ditt LiU-kortnummer än och kommer därför inte kunna använda ditt saldo på {{ user.profile.balcur }}.
                    </span>
                    <a href="{% url 'profile' %}?edit=true" class="btn btn-outline-primary float-right">Fyll i kortnummer</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}