{% load baljan_extras %}

<div id="{{field_name}}" class="form-group row mb-1 order-item {{classes}}">
    <span class="col-4">{{ field.label }}</span>
    <div class ="col" style="padding:0%;">
        <div class="input-group">

            {{ field|addcss:"form-control" }}

            {% if "order-group" in classes %}
            <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="modal" data-bs-target="{{'#'|add:field_name|add:'Modal'}}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            {% endif %}
        </div>
    </div>
    

    <div class="col-3">
        á <span class="cost">{{ cost }}</span> SEK
    </div>
    <div class="col-3">
        = <b><span class="total">0</span> SEK</b>
    </div>
</div>
