{% load baljan_extras %}

{% order_item form group_field_name cost 'order-group' %}

<div id="{{group_field_name|add:'Modal'}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{label}}</h4>
                    <button type="button" id="{{group_field_name|add:'_btn1'}}" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {% for sub_field_name in sub_fields %}
                        {% order_item form sub_field_name.0 cost group_field_name|add:'-sub-item'|add:' exclude-from-total'%}
                    {% endfor %}

                    <div class="row">
                            <div class="col-9">
                                <b>TOTALT</b>
                            </div>
                            <div class="col-3">
                                = <b><span id="{{group_field_name|add:'Sum'}}">0</span> SEK</b>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <div id="{{group_field_name|add:'_error'}}"></div>
                    <button type="button" id="{{group_field_name|add:'_btn2'}}" class="btn btn-primary" data-bs-dismiss="modal">Stäng</button>
                </div>
            </div>
        </div>
    </div>