{% extends "baljan/baljan.html" %} {% load i18n %} {% load humanize %} {% load static %} {% load crispy_forms_tags %}

{% block head_title %}Sektionscafé Baljan{% endblock %}
{% block body_class %}about{% endblock %}

{% block full_body %}
{% include 'baljan/_card_missing_notice.html' %}
{% for message in messages %}
    <!-- Needed to avoid delayed messages bug caused by logging out -->
{% endfor %}

<main class="bd-masthead" id="content" role="main">

<div id="header-image" class="row align-items-center">
<h1 class="bd-text-purple-bright lobster">Mer kaffe åt folket!</h1>
</div>

<!-- container -->
<!-- main#content -->

<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>Mål och mening</h3>
    <p class="lead mb-4">
      Kaffe åt folket! — helt enkelt. Vi säljer kaffe, te, varm choklad, läsk, mackor och klägg till studentanpassade priser. Vi
      är helt ideella. Allt överskott återinvesteras i utrustning, möbler och vår fantastiska personal.
    </p>

    <div class="d-flex flex-column flex-md-row lead mb-3">
        <a href="{% url 'order_from_us' %}" class="btn btn-lg btn-primary mr-md-3 mb-3 mb-md-0">
            <i class="fa fa-shopping-cart"></i> Beställa
        </a>
        <a href="{% url 'credits' %}" class="btn btn-lg btn-primary btn-outline-info mr-md-3 mb-3 mb-md-0">
          <i class="fa fa-coffee"></i> Fylla på kaffekort
        </a>
    </div>
  </div>
</section>

<section class="Baljan__timeline wrapper" style="padding-bottom: 40px">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 bd-text-purple-bright">Baljan <3 Byttan</h1>
        <p class="lead">
         Baljan har expanderat! Augusti 2019 slog Sektionscafé Byttan i Studenthus Valla upp sina portar för första gången. Byttan, i enlighet med Studenthuset, ämnar att verka så klimatvänligt som möjligt. Därför skiljer sig sortimentet i Byttan lite ifrån det i Baljan. Det är även därför vi använder systemet Loop-It där kunder kan köpa en återbrukbar kopp enbart en gång, sedan lämna in den igen och få en kopp på ett saldo kopplat till ens LiU-ID. Sedan är det bara att hämta ut sin kopp igen vid valfritt tillfälle! Vi ses i Baljan eller Byttan!
        </p>
      </div>
      <div class="col-12 mx-auto col-md-6">
        <img src="{% static 'img/baljanbyttan.jpg' %}" alt="" class="img-fluid mb-3 mb-md-0" style="width: 90%">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block box">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="fb-page" data-href="https://www.facebook.com/sektionscafe.baljan/" data-tabs="timeline" data-width="500" data-height="580"
            data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/sektionscafe.baljan/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/sektionscafe.baljan/">Sektionscafé Baljan</a>
            </blockquote>
          </div>

          <!-- <div class="fb-page" data-href="https://www.facebook.com/sektionscafe.baljan" data-height="500" data-width="400" data-small-header="true"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/sektionscafe.baljan">
                <a href="https://www.facebook.com/sektionscafe.baljan">Sektionscafé Baljan</a>
              </blockquote>
            </div>
          </div> -->
        </div>
        <div class="col-12 col-lg-6 info-panel">
          <div class="row">
            <div class="col-4 col-sm-3 info-icon">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="col-8 col-sm-9 info-text">
              <h2>Öppettider</h2>
              <table class="table">
                <tr>
                  <td>
                    <strong>Vardagar</strong>
                  </td>
                  <td>8:00 till 16:15</td>
                </tr>
                <tr>
                  <td>
                    <strong>helger, högtider</strong>
                  </td>
                  <td>stängt</td>
                </tr>

              </table>
              <p>Öppet vanliga tider under tenta-p, stängt under omtenta-p.</p>

            </div>

            <div class="col-4 col-sm-3 info-icon">
              <i class="fa fa-group"></i>
            </div>
            <div class="col-8 col-sm-9 info-text">

              <h2>Jourtider</h2>
              <table class="table">
                <tr>
                  <td>
                    <strong>7:30 - 8:00</strong>
                  </td>
                  <td>måndag - fredag</td>
                </tr>
                <tr>
                  <td>
                    <strong>12:15 - 13:00</strong>
                  </td>
                  <td>måndag - fredag
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>16:15 - 17:00</strong>
                  </td>
                  <td>måndag - fredag</td>
                </tr>
              </table>
              <p>Under dessa tider finns en styrelsemedlem i vårt kontor, Nollberga.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron jumbotron-fluid mb-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="pt-4">Jobba i Baljan</h2>
        <p>Det är personalen som håller igång vårt fik! Det är dem du träffar när du handlar hos oss. Som personal jobbar man fyra halvdagar under en termin, två i Baljan i Kårallen och två i Byttan i Studenthuset. Som tack för detta får man gratis kaffe/te hela terminen, en duktigt subventionerad P-fest, en subventionerad cykelfest och den beryktade P-presenten™.</p>
        <p>För höstterminens jobbpass har vi ett jobbsläpp, i slutet av vårterminen. För vårens jobbpass är släppet strax före jul-tenta-p. Jobbsläppen släpps digitalt och det gäller att vara het på gröten, håll utkik på våra sociala medier!</p>
      </div>
      <div class="col-sm-6">
        <div class="happy-workers">
          <img src="{% static 'img/jobbare.jpg' %}" alt="Glada jobbare" style="border-radius: 25px;" />
          <br>
          <p class="text-center pink baljan-font mt-2">Glada jobbare!</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="happy-workers">
            <img src="{% static 'img//Straffregister-HT2021.png' %}" alt="Straffregister" style="border-radius: 25px;" />
            <br>

            <p class="text-center pink baljan-font mt-2">Glad styrelse!</p>

          </div>
        </div>
        <div class="col-sm-6">
          <h2 class="pt-4">Styrelsen</h2>
          <p>Baljans styrelse består av 21 studenter från allehanda sektioner. Vårt uppdrag är att aktivt jobba för att driva föreningen framåt och göra det så bra som möjligt för våra älskade kunder och jobbare. Vi är en salig blandning individer med allt från ett gäng nördar som ser till att ni kan blippa er förbi den vanliga kaffekön till tre partypeeps som varje termin anordnar norra Europas billigaste och ballaste bal. Mer om varje styrelsepost kan du hitta genom att klicka på "Läs mer" nedan.</p>
          <a href="{% url 'styrelsen' %}" class="btn btn-outline-primary btn-attention">Läs mer</a>
          <p></p>
          <p>Vi söker nu nya styrelsemedlemmar! Sök till Baljanstyrelsen genom att maila namn, sektion, telefonnummer samt en fin bild till <a href="mailto:val@baljan.org">val@baljan.org</a> senast <b>söndagen den 31:a oktober.</b></p>
        </div>
      </div>
    </div>
  </section>

<div id="map-container"></div>

<div>
    <!-- hpfix -->
</main>
{% endblock %}

{% block extra_body %} {% endblock %}
