{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_class %}about{% endblock %}
{% block body %}

    <div class="row align-items-center">
      <div class="col-8 mx-auto col-md-6 order-md-2">
        <img src="{% static 'img/svg/sparkle.svg' %}" alt="baljan30-sparkles" class="img-fluid mb-3 mb-md-0">
      </div>
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 bd-text-purple-bright">Baljan fyller 30 år!</h1>
        <p class="lead">
          Snart är det dags för Baljans fantastiska 30-års jubileum går av stapeln. Hoppas att ni är toktaggade på alla tokigheter
          som kommer hända under veckan. Vi har hört rykten om tårtkalas, tåg och tivoli (men du har inte hört det från oss).
          Sen självklart också vagnslass av vårt kära kaffe med klägg. Håll i hatten, snart fyller Baljan år!!
        </p>

      </div>
    </div>

<!-- main#content -->

<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>Mer kaffe åt folket!</h3>
    <p class="lead mb-4">
      Kaffe åt folket! — helt enkelt. Vi säljer kaffe, te, varm choklad, läsk, mackor och klägg till studentanpassade priser. Vi
      är helt ideella. Allt överskott återinvesteras i utrustning, möbler och vår fantastiska personal.
    </p>

    <div class="d-flex flex-column flex-md-row lead mb-3">
      <a href="/baljan/bestallning" class="btn btn-lg mb-3 mb-md-0 btn-primary mr-md-3">
        <i class="fa fa-shopping-cart"></i> Beställa</a>
      <a href="/baljan/credits" class="btn btn-lg btn-outline-info">
        <i class="fa fa-coffee"></i> Fyll på kaffekort</a>
    </div>


  </div>
</section>


<section class="Baljan__timeline wrapper" style="padding-bottom: 40px">
  <div class="container">


    <div class="row align-items-center">

      <div class="col-12 mx-auto col-md-6">
        <img src="{% static 'img/baljan30.jpg' %}" alt="" class="img-fluid mb-3 mb-md-0">
      </div>
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 bd-text-purple-bright">Baljan genom tiderna</h1>
        <p class="lead">
          Snart är det dags för Baljans fantastiska 30-års jubileum går av stapeln. Hoppas att ni är toktaggade på alla tokigheter
          som kommer hända under veckan. Vi har hört rykten om tårtkalas, tåg och tivoli (men du har inte hört det från oss).
          Sen självklart också vagnslass av vårt kära kaffe med klägg. Håll i hatten, snart fyller Baljan år!!
        </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="block box">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="fb-page" data-href="https://www.facebook.com/sektionscafe.baljan/" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/sektionscafe.baljan/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/sektionscafe.baljan/">Sektionscafé Baljan</a>
            </blockquote>
          </div>


          
          
          <!-- <div class="fb-page" data-href="https://www.facebook.com/sektionscafe.baljan" data-height="500" data-width="400" data-small-header="true"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/sektionscafe.baljan">
                <a href="https://www.facebook.com/sektionscafe.baljan">Sektionscafé Baljan</a>
              </blockquote>
            </div>
          </div> -->
        </div>
        <div class="col-12 col-lg-6 info-panel">
          <div class="row">
            <div class="col-4 col-sm-3 info-icon">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="col-8 col-sm-9 info-text">
              <h2>Öppettider</h2>
              <table class="table">
                <tr>
                  <td><strong>Vardagar</strong></td>
                  <td>8:00 till 16:15</td>
                </tr>
                <tr>
                  <td><strong>helger, högtider</strong></td>
                  <td>stängt</td>
                </tr>

              </table>
             <p>Öppet vanliga tider under tenta-p, stängt under omtenta-p.</p>
        
            </div>

            <div class="col-4 col-sm-3 info-icon">
              <i class="fa fa-group"></i>
            </div>
            <div class="col-8 col-sm-9 info-text">
              
              <h2>Jourtider</h2>
              <table class="table">
                <tr>
                  <td><strong>7:30 - 8:00</strong></td>
                  <td>måndag - fredag</td>
                </tr>
                <tr>
                  <td><strong>12:15 - 13:00</strong></td>
                  <td>måndag - torsdag<br> <u>OBS: ej fredag!</u></td>
                </tr>
                <tr>
                  <td><strong>16:15 - 17:00</strong></td>
                  <td>måndag - fredag</td>
                </tr>
              </table>
              <p>Under dessa tider finns en styrelsemedlem i vårt kontor, Nollberga.</p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="pt-4">Jobba i Baljan</h2>
          <p>Det är personalen som håller igång vårt fik! Det är dem du träffar när du handlar hos oss. Som personal i baljan
            jobbar man tre halvdagar under en termin. Som tack för detta får man gratis kaffe/te hela terminen, en duktigt
            subventionerad P-fest och den beryktade P-presenten&trade;.</p>
          <p>För höstterminens jobbpass har vi ett jobbsläpp, i slutet av vårterminen. För vårens jobbpass är släppet strax före
            jul-tenta-p. Jobbsläppen brukar vara tidigt på morgonen i Baljan.</p>
        </div>
        <div class="col-sm-6">
          <div class="happy-workers">
            <img src="{% static 'img/jobbare.jpg' %}" alt="Glada jobbare" style="border-radius: 25px;" /><br>
            <p class="text-center pink baljan-font mt-2">Glada jobbare!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <div id="map-container"></div>


{% endblock %}

{% block extra_body %}
{% endblock %}
