{% extends "baljan/staff.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block page_title %}Administrera termin{% endblock %}
{% block body_class %}admin-semester{% endblock %}

{% block staff_info %}
        <div>

            <div class="d-flex justify-content-between align-items-center mb-5">
                <h2>Administrera termin</h2>
                <div class="choose-semester input-group w-auto">
                    {% if semesters|length %}
                    <select class="form-control">
                        {% for sem in semesters %}
                        <option {% if sem == semester %}selected="selected" {% endif %}>{{ sem.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <a href="{% url 'admin:baljan_semester_add' %}" class="btn btn-outline-dark"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    {% if semester %}
                        <div class="d-flex justify-content-between align-items-center">
                            <h3>{{semester.name|default:"-"}}</h3>
                            {% admin_button user 'baljan' 'semester' 'change' semester.id %}
                        </div>
                        <dl>
                            <dt>Dagar</dt>
                            <dd>{{day_count}}</dd>
                            <dt>Jobbarpass</dt>
                            <dd>
                                {{worker_shift_count}}
                                (varav {{exam_period_count}} i tenta-p)
                            </dd>
                        </dl>
                        <p>
                            {% if worker_shift_count|divisibleby:4 %}
                                <div class="alert alert-success d-flex align-items-center gap-3" role="alert">
                                    <i class="fas fa-check-circle"></i>
                                    <div>
                                        Antalet jobbpass är delbart med 4 och ger därmed snygga passkombinationer.
                                    </div>
                                </div>
                            {% else %}
                                <div class="alert alert-danger d-flex align-items-center gap-3" role="alert">
                                    <i class="fas fa-times-circle"></i>
                                    <div>
                                        Antalet jobbpass är inte delbart med 4 och ger därmed ojämna passkombinationer.

                                        Lägg in en halvdag när styrelsen jobbar för att jämna ut antalet.
                                    </div>
                                </div>
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="row">
                        <h3>Terminsöversikt</h3>
                        <p>
                            Redigera genom <a href="{% url 'admin:baljan_shift_changelist' %}?semester__id__exact={{semester.id}}" class="">adminsidan</a> och tryck sedan på knappen under för att återskapa nummer på passkombinationer.
                        </p>
                        <p>
                            Se <a href="{% url 'semester_shifts' semester.name %}" class="">jobbarnas vy</a> för att verifiera passkombinationerna.
                        </p>

                        <form method="POST" name="edit-shifts" action="">{% csrf_token %}
                            <input type="hidden" name="task" value="update_shifts" />
                            <button type="submit" id="normal" class="btn btn-sm btn-primary">
                                <i class="fas fa-sync"></i> Uppdatera passkombinationer
                            </button>
                        </form>

                        <div class="d-flex gap-1 align-items-center my-4">
                            <span class="badge bg-secondary">Baljan</span>
                            <span class="badge bg-primary">Byttan</span>

                            <span class="badge bg-secondary border border-3 border-dark">Tenta-P</span>

                            <span class="badge bg-primary opacity-25">Taget pass</span>

                            <span class="badge bg-secondary opacity-50">- (Stängt)</span>
                        </div>
                        {% regroup shifts by when.isocalendar.1 as week_shifts %}
                        {% for week in week_shifts %}
                        <div class="col">
                            <h4>Vecka {{week.grouper}}</h4>
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>fm</th>
                                        <th>lunch</th>
                                        <th>em</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% regroup week.list by when as days %}
                                    {% for day in days %}
                                    <tr>
                                        <td class="day text-end">{{day.grouper|date:"j"}}</td>
                                        <td class="day">{{day.grouper|date:"b"}}</td>
                                        {% regroup day.list by span as spans %}
                                        {% for span in spans %}
                                            <td class="shift
                                                text-nowrap
                                                span-{{ span.grouper }}
                                                ">
                                                {% for sh in span.list %}
                                                    {% if sh.comb or not sh.enabled%}
                                                    <span id="shift-{{sh.id}}"
                                                        class="badge
                                                            {% if sh.location == 0 %}bg-secondary{% else %}bg-primary{% endif %}
                                                            {% if sh.exam_period %}border border-3 border-dark{% endif %}
                                                            {% if sh.comb.is_taken %}opacity-25{% endif %}
                                                            {% if not sh.enabled %}opacity-50{% endif %}
                                                            shift 
                                                            span-{{sh.span}}">
                                                        {{sh.comb.label}}
                                                        {% if not sh.enabled %}-{% endif %}
                                                    </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% empty %}
                            <p>Ingen termin vald.</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        BASE_URL = "{{admin_semester_base_url}}";

        $('.choose-semester select').change(function() {
            var name = $(this).children(':selected').html();
            location.href = '' + BASE_URL + '/' + name;
        });
    </script>
{% endblock %}
