{% extends "baljan/cafe.html" %}

{% block page_title %}Baljan{% endblock %}
{% block cafe_name %}Baljan{% endblock %}

{% block cafe_info%}
<p>skriv om nollis :)</p>
{% endblock %}

{% block cafe_sidebar %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Jourtider</h5>
    <p class="mb-0">
      Dagar vi har öppet finns en styrelsemedlem i Nollberga
    </p>
    <ul class="mb-0">
      <li>07:30 - 08:00</li>
      <li>12:15 - 13:00</li>
      <li>16:15 - 17:00</li>
    </ul>
  </div>
</div>
{% endblock %}


