{% extends "baljan/staff.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}
{% load static %}

{% block page_title %}{{year}} vecka {{week}}{% endblock %}

{% block body_class %}board-week{% endblock %}
{% block staff_info %}
<div class="chalkboard row">
    <div class="col-lg-7">
    <table class="table table-baljan">
        <thead>
        <tr>
            <th class="week">
                <a href="{% url 'call_duty_week' prev_y prev_w %}">
                    &laquo;
                </a>
                <span class="num">{{year}}</span>
                vecka
                <span class="num">{{week}}</span>
                <a href="{% url 'call_duty_week' next_y next_w %}">
                    &raquo;
                </a>
            </th>
            <th>Förmiddag</th>
            <th>Lunch</th>
            <th>Eftermiddag</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
        <tr>
            <td colspan="4"><strong>{{location.1}}</strong></td>
        </tr>
        {% for weekday in weekdays %}
        <tr>
            <td class="day">{{weekday.1}}</td>
            {% for span in spans %}
            <td class="shift-droppable" id="shift-{{weekday.0}}-{{span}}-{{location.0}}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-lg-5">
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Slumpa pass <span id="shuffle-status"></span></h5>
                <table class="table table-sm table-baljan text-center">
                    <thead>
                        <tr>
                            <td>Person</td>
                            <td>Antal pass</td>
                            <td>Ta bort</td>
                        </tr>
                    </thead>
                    <tbody id="shuffle-table-body"></tbody>
                </table>
                <div class="row mb-2 ml-1">
                    <div class="form-check col-auto">
                        <input type="checkbox" class="form-check-input" id="shufflePreferWholeDays" />
                        <label class="form-check-label" for="shufflePreferWholeDays">Föredra heldagar</label>
                    </div>
                    <div class="from-check col-auto ml-1">
                        <input type="checkbox" class="form-check-input" id="shufflePreferOneCafe" disabled />
                        <label class="form-check-label" for="shufflePreferOneCafe">Föredra ett café under dagen</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <div class="card my-1">
                                <div class="shuffle-drop card-body py-3">
                                    Släpp här
                                </div>
                        </div>
                    </div>
                    <div class="col-3 my-auto">
                        <button class="btn btn-primary my-auto" id="random-shifts">Slumpa</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>{% trans "Available Users" %} ({%trans "drag and drop"%})</h2>
            <div class="available-users"></div>
            <div class="submit wrapper">
                <a class="btn btn-primary save" href="#" role="button">Spara</a>
                <a id="regret-changes" class="btn btn-secondary" role="button" href="{{request.path}}">Ångra osparade ändringar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shuffle.js' %}"></script>
<script type="text/javascript">
    {% autoescape off %}
    REAL_IDS = {{real_ids}};
    ON_CALL = {{oncall}};
    USER_IDS = {{uids}};
    DRAGS = {{drags}};
    INITIALS = {{initials}};
    {% endautoescape %}

    var availUsers = $('.available-users');
    var names = [];

    for (i in USER_IDS) {
        names.push(DRAGS[USER_IDS[i]]);
    }
    availUsers.html(names.join(', '));

    var redrawContained = function(cell) {
        var listed = [],
            containedInits = $(cell).data('initials');
        for (i in containedInits) {
            listed.push([
                '<span class="drag-',containedInits[i],'">',
                containedInits[i],'</span>'
            ].join(''));
        }
        $(cell).html(listed.join(', '));
        $(cell).children().each(function() {
            $(this).click(function() {

                if(window.onbeforeunload === null) {
                    window.onbeforeunload = function() {
                        return "";
                    }
                }

                var newContained = [];
                for (j in containedInits) {
                    if (containedInits[j] != $(this).text()) {
                        newContained.push(containedInits[j]);
                    }
                    $(cell).data('initials', newContained);
                }
                $(this).trigger('mouseleave').remove();
                redrawContained(cell);
            });
        });

        $(containedInits).each(function() {
            var cls = $('.drag-' + this),
                id = $("#drag-" + this);
            cls.hover(
                function() {
                    cls.parent().addClass('highlight');
                    id.addClass('highlight')
                },
                function() {
                    cls.parent().removeClass('highlight');
                    id.removeClass('highlight')
                }
            );
        });
    }

    /* Load initial data. */
    $('.shift-droppable').each(function() {
        var id = $(this).attr('id');
        if (!REAL_IDS[id]) {
            $(this).addClass('disabled');
        }
        var onCallUids = ON_CALL[id],
            inits = [];
        for (i in onCallUids) {
            inits.push(INITIALS[onCallUids[i]]);
        }
        $(this).data('initials', inits);
        redrawContained(this);
    });

    $('.shift-droppable').each(function() {
        var drop = this;
        $(this).droppable({
            accept: function(drag) {
                if ($(this).hasClass('disabled')){
                    return false;
                }

                var dropId = $(drop).attr('id');
                var dropBaseId = dropId.substr(0, dropId.lastIndexOf('-')+1);

                for (loc in [{% for location in locations %}{{location.0}}{% if not forloop.last %}, {% endif %}{% endfor%}]) {
                    if ($('#'+dropBaseId+loc).find('.'+drag.attr('id')).length > 0) {
                        return false;
                    }
                }

                return true;
            },
            activeClass: 'highlight',
            hoverClass: 'hover',
            drop: function(ev, ui) {

                if(window.onbeforeunload === null) {
                    window.onbeforeunload = function() {
                        return "";
                    }
                }

                var dragId = $(ui.draggable).attr('id');
                var droppedInit = dragId.split('-')[1],
                    containedInits = $(this).data('initials'),
                    cell = this;
                if (!containedInits) containedInits = [droppedInit];
                else containedInits.push(droppedInit);
                $(this).data('initials', containedInits);
                redrawContained(cell);
            }
        });
    });

    availUsers.children().each(function() {
        var initials = $(this).attr('id').split('-')[1]
        cls = 'drag-' + $(this).attr('id').split('-')[1],
            drag = this;

        $(this).draggable({
            cursorAt: {right: 3, bottom: 3},
            helper: function(ev) {
                var ui = $("<span class='drag "+cls+"'>"+initials+"</span>");
                return ui;
            },
            opacity: 0.7
        });

        $(this).hover(function() {
            var ui = $('.'+$(this).attr('id'));
            ui.parent().addClass('highlight');
            $(this).addClass('highlight');
        }, function() {
            var ui = $('.'+$(this).attr('id'));
            ui.parent().removeClass('highlight');
            $(this).removeClass('highlight');
        });
    });

    $('.submit .save').click(function() {
        var postData = {};
        $('.shift-droppable').each(function() {
            var containedInits = $(this).data('initials');
            if (!containedInits || containedInits.length == 0) return;

            postData[$(this).attr('id')] = containedInits.join('|');
        });
        curSearch = $.ajax({
            data: postData,
            type: 'post',
            dataType: 'json',
            beforeSend: function () {
                $('.submit .save').html("Sparar...");
                window.onbeforeunload = null;
            },
            success: function(result) {
                location.replace(document.location.pathname);
            },
            error: function() {
                location.replace(document.location.pathname);
            }
        });
    });
    $('.shift-droppable.disabled').each(function () {
        $(this).text('Stängt');
    });

    $('#regret-changes').click(function(){
        window.onbeforeunload = null;
        return true;
    });

    var onCallKeys = Object.keys(ON_CALL).sort();
    function applyShifts(shifts) {
        if (shifts.length !== onCallKeys.length) {
            throw new Error(`To many shifts to apply: ${shifts.length}, should be ${onCallKeys.length}`);
        }

        for (let i = 0; i < onCallKeys.length; ++i) {
            ON_CALL[onCallKeys[i]] = [shifts[i]];
        }

        $('.shift-droppable').each(function() {
            var id = $(this).attr('id');
            if (!REAL_IDS[id]) {
                $(this).addClass('disabled');
                return;
            }
            var onCallUids = ON_CALL[id], inits = [];
            for (i in onCallUids) {
                inits.push(INITIALS[onCallUids[i]]);
            }
            $(this).data('initials', inits);
            redrawContained(this);
        });
    }

    $('.shuffle-drop').droppable({
        accept: function(drag) {
            let dragIdSplit = drag.attr('id').split('-');
            let dragInitials = dragIdSplit[dragIdSplit.length-1];

            return !shuffles.some(e => e.initials === dragInitials);
        },
        drop: function(ev, ui) {
            let dragIdSplit = $(ui.draggable).attr('id').split('-');
            let dragInitials = dragIdSplit[dragIdSplit.length-1];
            let id = USER_IDS.filter(e => INITIALS[e] === dragInitials)[0];
            addShuffle(id);
        }
    });

    $('#shufflePreferWholeDays').change(function() {
        $('#shufflePreferOneCafe')[0].disabled = !this.checked;
    });

    var shuffles = [];
    var lastShuffleId = 0;
    const numShifts = onCallKeys.length;
    var shiftsToDistribute = 0;
    const numCafes = Object.keys(REAL_IDS).reduce((acc, cur) => {
        let idSplit = cur.split('-');
        let cafeId = parseInt(idSplit[idSplit.length-1]);
        return Math.max(acc, cafeId+1);
    }, 0);
    const shiftsPerDayAndCafe = Object.keys(REAL_IDS).reduce((acc, cur) => {
        let idSplit = cur.split('-');
        let cafeId = parseInt(idSplit[idSplit.length-2]);
        return Math.max(acc, cafeId+1);
    }, 0);

    function removeShuffle(id) {
        shuffles = shuffles.filter(e => e.id === id);
        redrawShuffles();
    }

    function shuffleItem(shuffleObj) {
        return `<tr id="shuffle-list-row-${shuffleObj.id}">` +
                    `<td class="align-middle">${shuffleObj.initials}</td>` +
                    `<td class="align-middle">` +
                        `<input type="number" class="form-control w-50 mx-auto" id="shuffle-input-${shuffleObj.id}" value="${shuffleObj.value}" min="0", max="${numShifts/numCafes}"/>` +
                    `</td>` +
                    `<td class="align-middle">` +
                            `<button class="btn btn-sm btn-danger" id="shuffle-remove-btn-${shuffleObj.id}"><i class="fa fa-times"></i></button>` +
                    `</td>` +
                `</tr>`
    }

    function redrawShuffle(containerElem, shuffleObj) {
        containerElem.append(shuffleItem(shuffleObj));
        $(`#shuffle-input-${shuffleObj.id}`).on('input', function() {
            let val = parseInt($(this)[0].value);
            if (val > numShifts/numCafes) {
                val = numShifts/numCafes;
                $(this)[0].value = val;
            } else if (val < 0) {
                val = 0;
                $(this)[0].value = val;
            } else if (!val) {
                val = 0;
            }
            shiftsToDistribute += val - shuffleObj.value;
            shuffleObj.value = val;
            updateShuffleStatus();
        });
        $(`#shuffle-remove-btn-${shuffleObj.id}`).click(function() {
            shiftsToDistribute -= shuffleObj.value;
            shuffles = shuffles.filter(e => e.id !== shuffleObj.id);
            redrawShuffles();
        });
    }

    function updateShuffleStatus() {
        $('#shuffle-status').html(`(${shiftsToDistribute}/${numShifts}) ` +
                `<i class="fa ${shiftsToDistribute === numShifts ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'}"></i>`);
        $('#random-shifts').attr('disabled', shiftsToDistribute !== numShifts);
    }

    function redrawShuffles() {
        let shuffleListElem = $('#shuffle-table-body');
        shuffleListElem.empty();
        shuffles.forEach(e => redrawShuffle(shuffleListElem, e));

        updateShuffleStatus();
    }

    function addShuffle(userId) {
        if (shuffles.filter(e => e.key === userId).length > 0) {
            return;
        }

        let shuffleObj = {
            id: lastShuffleId,
            key: userId,
            initials: INITIALS[userId],
            value: Math.min(10, numShifts - shiftsToDistribute)
        };
        shiftsToDistribute += shuffleObj.value;
        shuffles.push(shuffleObj);
        ++lastShuffleId;
        redrawShuffles();
    }

    updateShuffleStatus();

    $('#random-shifts').click(function() {
        let numToDistribute = shuffles.reduce((acc, cur) => acc + cur.value, 0);
        if (numToDistribute !== numShifts) {
            throw new Error(`Shifts have to be ${numShifts}, not ${numToDistribute}`);
        }

        let shifts = distribute(shuffles, numCafes, shiftsPerDayAndCafe,
                $('#shufflePreferWholeDays')[0].checked,
                $('#shufflePreferOneCafe')[0].checked
            );

        applyShifts(shifts);
    });
</script>
{% endblock %}
