{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load uni_form_tags %}
{% load baljan_extras %}

{% block head_title %}{% trans "Credits" %}{% endblock %}

{% block body_class %}credits{% endblock %}
{% block body %}

<div class="row">
	<div class="col-xs-12">
		<h1>{% trans "Credits" %}</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h2>{% trans "Refill" %}</h2>
        <p>
        {% blocktrans %}
        Value cards can be purchased at the café. If you have questions or run
        into problems, <a href="mailto:{{CONTACT_EMAIL}}">contact us</a>. Abuse
        will be logged.
        {% endblocktrans %}
        </p>
        <p>
            <img src="{{STATIC_URL}}img/signs.png" 
                width="364" height="121" alt="{% trans 'The visual difference between lowercase i, lowercase l, a one and an uppercase I' %}"/>
        </p>
        <form autocomplete="off" method="POST" action="" class="form-horizontal">
			{% csrf_token %}
            <input type="hidden" name="task" value="refill" />
			<div class="form-group">
				<label for="{{ refill_form.code.id_for_label }}" class="col-sm-2 control-label">{{ refill_form.code.label }}<span class="asteriskField">*</span></label>
				<div class="col-sm-10">
					{{ refill_form.code }}
				</div>
				<div class="col-sm-offset-2 col-sm-10">
					<span id="helpBlock" class="help-block"><span class="asteriskField">*</span>{{ refill_form.code.help_text }}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">{% trans 'Refill' %}</button>
				</div>
			</div>
        </form>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-xs-12">
				<h2>{% trans "Available" %}</h2>
				<div class="well well-bold">
					<span>{{ currently_available }}</span>
				</div>
				{% if used_card %}
				<div class="alert alert-success">
					{% trans "The coffee code was used successfully" %}
				</div>
				{% endif %}

				{% if invalid_card %}
				<div class="alert alert-danger">
					{% trans "The coffee code was invalid or used" %}
				</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2>{% trans "LiU Cards Just Work&trade;" %}</h2>
				{% blocktrans %}
				<p>
				LiU card numbers are imported automatically. This means that new 
				users don't have to enter a number on the web site anymore.
				</p>
				{% endblocktrans %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2>{% trans "Wallet Blips" %}</h2>
				{% blocktrans %}
				<p>
				If your wallet is made of regular wallet material and doesn't stash a
				public transportation card (or any other RFID tag of the same type), 
				you can blip through it. If you have mad blipping skills you might be 
				able to use your wallet anyway (hint: LiU card closest to the reader).
				</p>
				{% endblocktrans %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2>{% trans "Used Value Cards" %}</h2>
				<ul>
					{% for card in used_cards %}
						<li>
						{% blocktrans with card.used_at|date as used_at and card.valcur as worth and card.serid as serid %}
						card {{serid}} worth {{worth}} used at {{used_at}}
						{% endblocktrans %}
						{% if card.refill_series.add_to_group %}
							{% blocktrans with card.refill_series.add_to_group.name as group_name %}
							(you were added to {{group_name}})
							{% endblocktrans %}
						{% endif %}
						</li>
					{% empty %}
						<li>{% trans "you have not used any value cards" %}</li>
					{% endfor %}
				</ul>
				<h2>{% trans "Old Cards (Kaffeklippkort)" %}</h2>
				<ul>
					{% for card in used_old_cards %}
						<li>
						{% blocktrans with card.set.set_id as setid and card.card_id as cardid and card.left as left and card.count as count %}
						card {{setid}}.{{cardid}} with {{left}} of {{count}} klipp left
						{% endblocktrans %}
						{% if card.imported %}
							({% trans "imported" %})
						{% else %}
							({% trans "unimported" %})
						{% endif %}
						</li>
					{% empty %}
						<li>{% trans "you have not used any old coffee cards" %}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_body %}
{% endblock %}

{% comment %}
    <!-- flickr image -->
    <a href="">
        <img title=""
            src="" />
    </a>
{% endcomment %}
