{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block page_title %}Kaffekort{% endblock %}

{% block body_class %}credits{% endblock %}
{% block body %}
    <h1>Kaffekort</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2>Fylla på</h2>
            <p>
                Värdekort kan köpas på kafét.
                Om du har frågor eller stöter på problem, <a href="mailto:{{CONTACT_EMAIL}}">kontakta oss</a>.
                Missbruk loggas.
            </p>
            {% if used_card %}
                <div class="alert alert-success">
                    Koden användes.
                </div>
            {% endif %}

            {% if invalid_card %}
                <div class="alert alert-danger">
                    Ogiltig eller använd kod.
                </div>
            {% endif %}
            <form autocomplete="off" method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    {{refill_form}}
                    <small class="form-text text-muted">Koden står på ditt värdekort.</small>
                </div>
                <input type="submit" class="btn btn-primary" value="Fyll på"/>
            </form>

            {% if products %}
            <div class="my-4">
                <h2>Fyll på digitalt</h2>
                <div class="row gx-4 gy-2">
                    {% for product in products %}
                        <div class="col-lg-6 col-12">
                            <form action="{% url 'checkout-create' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                <button type="submit" id="checkout-button" class="btn {{ product.styling }} py-3 py-md-4 w-100 shadow-sm">
                                    Fyll på med {{ product.price }} kr
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <small class="d-inline-block w-100 my-2 text-muted text-center">All betalning hanteras av Stripe</small>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h2>Tillgängligt</h2>
            <p>{{currently_available}}</p>
            <p><a href="{% url 'orders' %}">Visa köphistorik</a></p>

            <h2>LiU-kortet konfigureras manuellt</h2>
            <p>
                Du kan ändra vilket RFID-kortnummer du har kopplat till blippen <a href="{% url 'profile' %}?edit=true">i din profil</a>.
            </p>

            <h2>Tidigare påfyllningar</h2>
            <ul>
                {% for card in used_cards %}
                    <li>
                    {% if card.type == "physical" %}
                        Kaffekort (<i>{{card.serid}}</i>) värt {{card.valcur }} användes <time datetime='{{ card.date|date:"Y-m-d" }}'>{{card.date|date}}</time>
                        {% if card.refill_series.add_to_group %}
                            (Du blev tillagd till {{card.refill_series.add_to_group.name}})
                        {% endif %}
                    {% else %}
                        Digital påfyllnad värt {{ card.valcur }} köptes <time datetime='{{ card.date|date:"Y-m-d" }}'>{{card.date|date}}</time>
                    {% endif %}
                    </li>
                {% empty %}
                    <li>Du har inte fyllt på ditt kort tidigare.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block extra_body %}
{% endblock %}
