{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block page_title %}{{day|date}}{% endblock %}

{% block body_class %}day{% endblock %}
{% block body %}

{% if semester %}
    <a href="{{semester.get_absolute_url}}">&laquo; Termin {{semester.name}}</a>
{% endif %}

<h1>
    {{day|naturalday}}
</h1>
<p class="lead">
    {{day|date:'l'}}
    {% if perms.baljan.change_oncallduty %}
    <a href="{% url 'call_duty_week' day|year day|week %}">
        vecka
        {{day|week}}
    </a>
    {% else %}
        vecka
        {{day|week}}
    {% endif %}
</p>

{% if not semester %}
    <p>Dagen är inte under en termin då du jobbar.</p>
{% else %}

{% regroup shifts by get_location_display as located_shifts_group %}
<div class="row">
{% for located_shifts in located_shifts_group %}
    <div class="col col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                {{ located_shifts.grouper }}
            </div>
        
        {% for sh in located_shifts.list %}
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-start card-title lead">
                {{ sh.timeofday|title }}

                {% if perms.baljan.change_shift %}
                
                <a href="{% url 'admin:baljan_shift_change' sh.id %}" class="btn btn-outline-dark btn-sm"><i class="fa fa-lock"></i> {% trans "admin" %}</a>
                
                {% endif %}
            </div>
            {% comment %} TODO: maybe show time somehow {% endcomment %}
            {% comment %} {% if sh.span != 1 %}
                <p>{{ sh.worker_timedesc }}</p>
            {% endif %} {% endcomment %}
            <div class="row">
                <div class="col col-12 col-sm-6">
                    <strong>Jobbare</strong><br/>
                    {% for signup in sh.shiftsignup_set.all %}
                        <div>
                            {% comment %} <strong>
                                {% if signup.can_trade %}
                                Jobbare vill byta
                                {% else %}
                                Jobbare
                                {% endif %}
                            </strong>
                            <br/> {% endcomment %}
                                
                            {% if signup.can_trade %}
                                <s>
                                    <a href="{{signup.user.get_absolute_url}}">{{signup.user | detailed_name}}</a>
                                </s>
                            {% else %}
                                <a href="{{signup.user.get_absolute_url}}">{{signup.user | display_name}}</a>
                            {% endif %}
    
                            {% if perms.baljan.delete_shiftsignup %}
                                <a class="delete" title="Ta bort från det här passet." href="{% url 'delete_signup' signup.id request.path %}">&#x2715;</a>
                            {% endif %}
                            <br/>
                            {% if signup.can_trade %}
                                {% if user.shiftsignup_set.all.count == 0 %}
                                    <span>
                                        Du kan inte erbjuda dig att ta passet eftersom att du inte har några pass att byta med.
                                    </span>
                                {% else %}
                                    {% if signup.user == user %}
                                        <a class="btn btn-primary btn-sm" href="{% url 'toggle_tradable' signup.id request.path %}">Ångra bytbar</a>
                                    {% else %}
                                        <a class="btn btn-primary btn-sm" href="{% url 'take_signup' signup.pk request.path%}"><i class="fa fa-random"></i> Erbjud dig att ta passet</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}{# the sh.upcoming check is needed for this case #}
                                {% if sh.upcoming and signup.user == user %}
                                    <a class="btn btn-primary btn-sm" href="{% url 'toggle_tradable' signup.id request.path %}">Gör bytbar</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% empty %}
                    <p>
                        {% if sh.span == 1 %}
                            För- och eftermiddagspassen för jobbare överlappar varandra här.
                        {% else %}
                            Inga jobbare
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
                <div class="col col-12 col-sm-6">
                    <strong>Jour</strong>
                    <p>
                        {% for oncall in sh.oncallduty_set.all %}
                            <a href="{{oncall.user.get_absolute_url}}">{{oncall.user | display_name}}</a>
                            {% if perms.baljan.delete_oncallduty %}
                                <a class="delete" title="{% trans "remove from this shift" %}" href="{% url 'delete_callduty' oncall.id request.path %}">&#x2715;</a>
                            {% endif %}
                        {% empty %}
                            Ingen har anmält sig till att joura
                        {% endfor %}
                    </p>
                    {% if sh.accepts_callduty and perms.baljan.add_oncallduty and perms.baljan.change_oncallduty %}
                        <form method="post" class="form-inline">
                            {% csrf_token %}
                            <input type="hidden" name="span" value="{{sh.span}}"/>
                            <input type="hidden" name="location" value="{{sh.location}}"/>
                            <div class="input-group">
                                <select name="user" class="form-control">
                                    {% for avail in available_for_call_duty %}
                                    {% comment %} TODO: Filter those who are already signed up this shift, {% endcomment %}
                                    {% comment %} {% if not avail in sh.????? %} {% endcomment %}
                                    <option value="{{avail.pk}}" {% if avail == user %}selected="selected"{% endif %}>
                                        {{ avail | display_name }}
                                    </option>
                                    {% comment %} {% endif %} {% endcomment %}
                                    {% endfor %}
                                </select>
                                <input class="btn btn-outline-primary" type="submit" value="Anmäl"/>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if not forloop.last %}<hr class="m-0">{% endif %}
        {% endfor %}
    </div>
</div>
{% empty %}
    <p>Det finns inga jobbpass denna dag.<p>
{% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $('.delete').click(function() {
        return confirm("Är du säker på att du vill ta bort denna passanmälan?");
    });
</script>
{% endblock %}
