{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block head_title %}{{day|date}}{% endblock %}

{% block body_class %}day{% endblock %}
{% block body %}

{% if semester %}
    <a href="{{semester.get_absolute_url}}">&laquo; Termin {{semester.name}}</a>
{% endif %}

<h2>
    {{day|naturalday}}: {{day|date:'l'}}

    {% if perms.baljan.change_oncallduty %}
    <a href="{% url 'call_duty_week' day|year day|week %}">
        vecka
        {{day|week}}
    </a>
    {% else %}
        vecka
        {{day|week}}
    {% endif %}
</h2>

{% for sh in shifts %}
    <div class="row">
        <div class="col-auto mr-auto">
            <h3>{{ sh.timeofday|title }}</h3>
        </div>
        {% if perms.baljan.change_shift %}
            <div class="col-auto">
                <a href="{% url 'admin:baljan_shift_change' sh.id %}">{% trans "admin" %}</a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% for signup in sh.signups %}
            <div class="col">
                <strong>
                    {% if signup.can_trade %}
                        Jobbare vill byta
                    {% else %}
                        Jobbare
                    {% endif %}
                </strong><br/>

                {% if signup.can_trade %}
                    <s>
                        <a href="{{signup.user.get_absolute_url}}">{{signup.user.get_full_name}} ({{signup.user.username}})</a>
                    </s>
                {% else %}
                    <a href="{{signup.user.get_absolute_url}}">{{signup.user.get_full_name}} ({{signup.user.username}})</a>
                {% endif %}
                {% if perms.baljan.delete_shiftsignup %}
                    <a class="delete" title="Ta bort från det här passet."
                        href="{% url 'delete_signup' signup.id request.path %}">&#x2715;</a>
                {% endif %}
                <br/>
                {% if perms.baljan.self_and_friend_signup %}
                    {% if signup.can_trade %}
                        {% if user.shiftsignup_set.all.count == 0 %}
                            <span>
                                Du kan inte erbjuda dig att ta passet eftersom att du inte har några pass att byta med.
                            </span>
                        {% else %}
                            {% if signup.user == user %}
                                <a class="btn btn-primary btn-sm" href="{% url 'toggle_tradable' signup.id request.path %}">Ångra bytbar</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{% url 'take_signup' signup.pk request.path%}">Erbjud dig att ta passet</a>
                            {% endif %}
                        {% endif %}
                    {% else %}{# the sh.upcoming check is needed for this case #}
                        {% if sh.upcoming and signup.user == user %}
                            <a class="btn btn-primary btn-sm" href="{% url 'toggle_tradable' signup.id request.path %}">Gör bytbar</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <p>{{ sh.worker_timedesc }}</p>
            </div>
        {% empty %}
            <div class="col">
                {% if sh.span == 1 %}
                    För- och eftermiddagspassen för jobbare överlappar varandra här.
                {% else %}
                    Inga jobbare har anmält sig.
                    Arbetstiden är {{ sh.worker_timedesc }}.
                {% endif %}
            </div>
        {% endfor %}
        <div class="col">
            {% for oncall in sh.callduties %}
                <strong>Jour</strong><br/>
                <a href="{{oncall.user.get_absolute_url}}">{{oncall.user.get_full_name}} ({{oncall.user.username}})</a>
                {% if perms.baljan.delete_oncallduty %}
                    <a class="delete" title="{% trans "remove from this shift" %}"
                        href="{% url 'delete_callduty' oncall.id request.path %}">&#x2715;</a>
                {% endif %}
                <p>{{ sh.oncall_timedesc }}</p>
            {% empty %}
                <p>Ingen har anmält sig till att joura.
                    Arbetstiden är {{ sh.oncall_timedesc }}.</p>
            {% endfor %}
            {% if sh.accepts_callduty and perms.baljan.add_oncallduty and perms.baljan.change_oncallduty %}
                <form method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="hidden" name="signup-for" value="call-duty"/>
                    <input type="hidden" name="span" value="{{sh.span}}"/>
                    <select name="user" class="form-control">
                        {% for avail in available_for_call_duty %}
                            {% if not avail in sh.on_callduty %}
                            <option value="{{avail.pk}}" {% if avail == user %}selected="selected"{% endif %}>
                                {{ avail.get_full_name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input class="btn btn-primary" type="submit" value="Anmäl"/>
                </form>
            {% endif %}
        </div>
    </div>
    {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $('.delete').click(function() {
        return confirm("Är du säker på att du vill ta bort denna passanmälan?");
    });
</script>
{% endblock %}
