{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block page_title %}Jobbsläpp projektor{% endblock %}
{% block body_class %}job-opening-projector{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_base %}
    <div class="container-fluid">
        <table class="table table-baljan slots">
        {% for row in slots %}
            <tr>
            {% for pair in row %}
                {% if pair %}
                    <td id="pair-{{pair.label}}"
                        {% if pair.is_taken %}
                            title="{{pair.taken_by|join:", "}}"
                        {% endif %}
                        class="pair">
                        {% if pair.is_free %}<h2>{{pair.label}}</h2>{%endif%}
                    </td>
                {%else%}
                    <td></td>
                {%endif%}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <h1 id="last-updated" class="text-center">Uppdaterad {{now}}</h1>
    </div>

    <script type="text/javascript">
        var curRequest = false,
            updateFreq = 5, // seconds
            lastUpdate = $('#last-updated');

        window.onload = update;

        function update(){
            setInterval(function(){
                if (curRequest) curRequest.abort();
                curRequest = $.ajax({
                    url: document.location.pathname,
                    dataType: 'json',
                    success: function(data) {
                        $(data.pairs).each(function() {
                            var slot = $('#pair-' + this.label);
                            if (this.free && $(slot).html()=='') {
                                $(slot).html('<h2>'+this.label+'</h2>');
                            }
                            else if (!this.free && $(slot).html()!='')  {
                                $(slot).html('');
                            }
                            $(lastUpdate).text('Uppdaterad '+ data.now);
                        });
                    }
                });
            }, updateFreq * 1000);
        }
    </script>
{% endblock body_base %}
