{% extends "baljan/staff.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block page_title %}Jobbsläpp {{semester.name}}{% endblock %}

{% block body_class %}job-opening{% endblock %}
{% block staff_info %}
<h2>Jobbsläpp {{semester.name}}</h2>

<div class="row">
    <div class="col">
        <h3>Välj jobbare</h3>
        <input class="form-control" type="text" id="id_liu_id" name="liu_id" maxlength="8" placeholder="Skriv in LiuId"/>

        <ul class="work-pair">
        </ul>

        <ul class="shifts-in-combination">
        </ul>
        <div class="submit-wrap">
            <form method="POST" action="">{% csrf_token %}
                <input type="hidden" name="shift-ids" value="" />
                <input type="hidden" name="user-ids" value="" />
                <input type="hidden" name="phones" value="" />
                <input class="btn btn-primary" disabled="disabled" type="submit"/>
            </form>
        </div>
    </div>

    <div class="col">
        <h3>Välj kombination</h3>
        <table class="slots table table-baljan">
        {% for row in slots %}
            <tr>
            {% for pair in row %}
                {% if pair %}
                    <td id="pair-{{pair.label}}"
                        {% if pair.is_taken %}
                            title="{{pair.taken_by|join:", "}}"
                        {% endif %}

                        class="
                            pair
                            {% if pair.is_free %}free{%else%}taken{%endif%}
                        ">{{pair.label}}</td>
                {%else%}
                    <td></td>
                {%endif%}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="col">
        <h3>Status</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{ pairs_taken_percent }}%;" aria-valuenow="{{ pairs_taken_percent }}" aria-valuemin="0" aria-valuemax="100">{{ pairs_taken_percent }}%</div>
        </div>
        <dl>
            <dt>Lediga kombinationer</dt>
            <dd>{{pairs_free}}</dd>
            <dt>Tagna kombinationer</dt>
            <dd>{{pairs_taken}}</dd>
        </dl>

        <h3>Projektor</h3>
        <p>
            Projektorvyn passar att visa för personer som köar.
            <a href="{% url 'job_opening_projector' semester.name %}">
                Öppna projektorvyn
            </a>
        </p>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    SUBMIT_HELP = "Välj två jobbare och en kombination";
    SUBMIT_OK = "Anmäl";
    PAIRS = {% autoescape off %}{{pair_javascript}}{%endautoescape%};

    var slots = $('.slots td.pair.free'),
        takenSlots = $('.slots td.pair.taken'),
        curSearch = false,
        idInput = $('#id_liu_id'),
        msg = $('.user-adder .message span'),
        msgClasses = ['pending', 'saved', 'invalid'],
        foundUser = false,
        addedUsers = {},
        addedList = $('.work-pair'),
        currentComb = $('.shifts-in-combination'),
        currentCombLabel = false,
        currentCombShiftIds = [],
        saveForm = $('.submit-wrap form'),
        submitBox = $('.submit-wrap');

    var refreshSave = function() {
        var addedUsersCount = 0;
        var submitButton = submitBox.find('input[type=submit]');

        for (k in addedUsers) {
            addedUsersCount += 1;
        }
        if (currentCombShiftIds.length == 0 ||
            addedUsersCount != 2) {
            saveForm.find('input[name=shift-ids]').val('');
            saveForm.find('input[name=user-ids]').val('');
            saveForm.find('input[name=phones]').val('');

            submitBox.removeClass('saved');
            submitBox.addClass('pending');
            submitButton.attr('disabled', 'disabled');
            submitButton.val(SUBMIT_HELP);
        }
        else {
            var serialShiftIds = currentCombShiftIds.join('|'),
                serialUsernames = [],
                serialPhones = [];

            for (i in addedUsers) {
                serialUsernames.push(i);
                serialPhones.push($('.phone-' + i).val());
            }
            serialUsernames = serialUsernames.join('|');
            serialPhones = serialPhones.join('|');

            saveForm.find('input[name=shift-ids]').val(serialShiftIds);
            saveForm.find('input[name=user-ids]').val(serialUsernames);
            saveForm.find('input[name=phones]').val(serialPhones);

            submitBox.addClass('saved');
            submitBox.removeClass('pending');
            submitButton.removeAttr('disabled');
            submitButton.val(SUBMIT_OK);
        }
    };
    refreshSave();

    var setActiveComb = function(cell) {
        slots.removeClass('table-primary');
        currentCombLabel = $.trim($(cell).text());
        var pair = PAIRS[currentCombLabel];
        var shifts = pair.shifts;
        if ($(cell).hasClass('free')) {
            currentCombShiftIds = pair.ids;
            $(cell).toggleClass('table-primary');
        }
        else {
            currentCombShiftIds = [];
        }
        currentComb.html('');
        for (i in shifts) {
            currentComb.append('<li/>');
            currentComb.find('li:last').text(shifts[i]);
        }
        refreshSave();
    };

    slots.click(function() {
        setActiveComb(this);
    });

    takenSlots.click(function() {
        setActiveComb(this);
    });


    var removeUser = function(id) {
        delete addedUsers[id];
        refreshAdded();
    };

    var refreshAdded = function() {
        addedList.find('li').remove();
        for (i in addedUsers) {
            var user = addedUsers[i];
            addedList.append('<li><a/></li>');
            var last = addedList.find('li:last');
            last.data('username', i);
            var link = last.find('a');
            link.attr('href', user.url);
            link.text(user.text);
            last.append(' <a href="#" class="remove">&#x2715;</a>');
            last.append('<input class="form-control" type="text" maxlength="10" placeholder="Mobil"/>');
            var phone = last.find('input');
            $(phone).addClass('phone-' + i);
            $(phone).val(user.phone);
            $(phone).data('username', i);
            $(phone).keyfilter(/[\d]/);
            $(phone).change(function() {
                var uName =$(this).data('username');
                addedUsers[uName].phone = $(this).val();
                refreshSave();
            });
        }

        addedList.find('li .remove').click(function() {
            removeUser($(this).parent().data('username'));
        });
        refreshSave();
    };

    var refreshSearch = function() {
        var term = idInput.val();
        if (0 < term.length && term.length < 5) return;
        if (curSearch) curSearch.abort();

        curSearch = $.ajax({
            data: {'liu_id': term},
            type: 'post',
            dataType: 'json',
            success: function(result) {
                if (!result) return;

                for (i in msgClasses) {
                    if (result.msg_class == msgClasses[i])
                        msg.addClass(msgClasses[i]);
                    else msg.removeClass(msgClasses[i]);
                }
                msg.text(result.msg);
                if (result.all_ok) {
                    foundUser = result.user;
                    idInput.val('');
                    refreshSearch();
                    addedUsers[foundUser.username] = foundUser;
                    refreshAdded();
                }
                else {
                    foundUser = false;
                }
            }
        });
    };
    idInput.bind('keyup', refreshSearch);
</script>
{% endblock %}
