{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block head_title %}{% trans "Job Opening" %} {{semester.name}}{% endblock %}

{% block body_class %}job-opening{% endblock %}
{% block body %}
<h1>{% trans "Job Opening" %} {{semester.name}}</h1>

<div class="grid_7 alpha main">
    <div>
        <div class="layout" style="float:left;width:50%">
            <div class="user-adder layout">
                <h2>{% trans "Choose Workers" %}</h2>
                <table>
                    <tr>
                        <td>
                            <input type="text" id="id_liu_id" name="liu_id" maxlength="8" />
                        </td>
                        <td rowspan="2">
                            <input disabled="disabled" id="add-to-group" type="button" value="{% trans "add" %}"/>
                        </td>
                   </tr>
                   <tr>
                       <td class="message">
                           <span class="pending">{% trans "enter liu id" %}</span>
                       </td>
                   </tr>
                </table>
            </div><!--.user-adder-->

            <ul class="work-pair">
            </ul>

            <ul class="shifts-in-combination">
            </ul>
        </div>

        <div class="layout" style="float:left;width:50%">
            <h2>{% trans "Choose Combination" %}</h2>
            <table class="slots">
            {% for row in slots %}
                <tr>
                {% for pair in row %}
                    {% if pair %}
                        <td id="pair-{{pair.label}}"
                            {% if pair.is_taken %}
                                title="{{pair.taken_by|join:", "}}"
                            {% endif %}

                            class="
                                pair
                                {% if pair.is_free %}free{%else%}taken{%endif%}
                            ">{{pair.label}}</td>
                    {%else%}
                        <td class="padding"></td>
                    {%endif%}
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="clear"></div>

        <div class="submit-wrap init-hidden">
            <form method="POST" action="">{% csrf_token %}
                <input type="hidden" name="shift-ids" value="" />
                <input type="hidden" name="user-ids" value="" />
                <input type="hidden" name="phones" value="" />
                <div class="submit layout">
                    <input disabled="disabled" type="submit"/>
                </div>
            </form>
        </div>
    </div>

</div><!--.main-->
<div class="grid_3 omega secondary">
    <div>
    {% blocktrans with pairs_taken_percent as done_percent and pairs_free as free and pairs_taken as taken %}
        <h2>
            {{done_percent}}% Done
        </h2>
        <dl>
            <dt>combinations available</dt>
            <dd>{{free}}</dd>
            <dt>combinations taken</dt>
            <dd>{{taken}}</dd>
        </dl>
    {% endblocktrans %}
    </div>

    <div>
        <h2>{% trans "Projector" %}</h2>
        <p>
        {% blocktrans %}
            This view is suitable for showing to people queueing during the job
            opening.
        {% endblocktrans %}
        </p>
        <p>
            <a href="{% url 'job_opening_projector' semester.name %}">{% trans "open view" %}</a>
        </p>
    </div>
</div><!--.secondary-->
<div class="clear"></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
// <![CDATA[
    COMBINATION_PROGRESS = {{pairs_taken_percent}};

    PHONE_TEXT = "{% trans "mobile:" %}";
    CONFIRM_MSG = "{% trans "Are you sure?" %}";
    CONFIRM_SIGNUP = "{% trans "This cannot be undone. Are you sure?" %}";
    CONFIRM_DELETE = CONFIRM_MSG;

    SUBMIT_HELP = "{% trans "select two workers and one combination" %}";
    SUBMIT_OK = "{% trans "sign up" %}";
    PAIRS = {% autoescape off %}{{pair_javascript}}{%endautoescape%};
// ]]>
</script>
{% endblock %}
