{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block page_title %}Styrelsen{% endblock %}

{% block body %}

<div class="container-styrelsen">
    <div class="hover-area" style="top: 44%; left: 45%;"></div>
    <div class="card" style="left: 57%;">
        <img src="/static/img/styrelsen/unn.png" alt="Ordförande">
        <div class="card-body">
            <h2>Unn Zachrisson, Ordförande</h2>
            <h3>Vad innebär din post?</h3>
            <p>Att vara ordförande i Baljan innebär att man har koll på att allt som ska göras blir gjort och ser till att verksamheten rör sig framåt. I posten sköter man kontakten utåt med diverse folk och föreningar som hör av sig i olika ärenden. Givetvis är det viktigaste att se till att alla i styrelsen och jobbarna mår bra och vetskapen om att allt löser sig med en kafferast.</p>
            <h3>Vilket nyårslöfte har du INTE lyckats hålla?</h3>
            <p>Man kan inte bryta något man aldrig haft</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Värdeordsworkshop</p>
            <h3>Hur gör ni för att vinna VSR hela tiden?</h3>
            <p>Redan framförhandlat</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 65%; left: 45%;"></div>
    <div class="card" style="left: 57%;">
        <img src="/static/img/styrelsen/oliver.png" alt="Vice ordförande">
        <div class="card-body">
            <h2>Oliver Wärnå, Vice ordförande</h2>
            <h3>Vad innebär din post?</h3>
            <p>Som vice ordförande hjälper jag ordförande med diverse saker, bland annat genom att vara ett bollplank  eller hålla i möten om hon är på andra äventyr.</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Ja precis, där ska den stå."</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Jonathan</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Det är tradition. </p>
        </div>
    </div>

    <div class="hover-area" style="top: 24%; left: 45%;"></div>
    <div class="card" style="left: 57%;">
        <img src="/static/img/styrelsen/shakira.png" alt="Kassör">
        <div class="card-body">
            <h2>Hanna Schaker, Kassör</h2>
            <h3>Vad innebär din post?</h3>
            <p>Baljans Balla Betalande Bokförfande Budgeterare? Betalar alla fakturor, bokför allt som betalas (och lite mer) och budgetar så allt går ihop! SKOJ </p>
            <h3>Berätta om din uppväxt</h3>
            <p>Mycket häng hos talpedagogen </p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Tycker vi ska sluta sälja klägg o satsa på daim och kexchoklad</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Pengatvätt</p>
        </div>
    </div>

    <div class="hover-area" style="top: 56%; left: 5%;"></div>
    <div class="card" style="left: 17%;">
        <img src="/static/img/styrelsen/inge.png" alt="Nördking">
        <div class="card-body">
            <h2>Inge Hansson, Nördking</h2>
            <h3>Vad innebär din post?</h3>
            <p>Bli uppringd när tekniken strular</p>
            <h3>Om du vore maträtt, vilken skulle du vara och varför?</h3>
            <p>Tonfisksallad, hänger inte med i inflationen</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>vet inte, kanske efter något tråkigt företag som betalar massa pengar?</p>
            <h3>Hur firade du Baljan 35?</h3>
            <p>Spenderade alla extra pengar vi fått sen vi höjde priset på mackor</p>
        </div>
    </div>

    <div class="hover-area" style="top: 74%; left: 32%;"></div>
    <div class="card" style="left: 45%;">
        <img src="/static/img/styrelsen/og.png" alt="Nörd" style="--length: 163;" >
        <div class="card-body">
            <h2>Oskar Gottfridsson, N00b</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixa fina teman till blippen! Samt starta om teknik när det strular.</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Inte dammsugare iallafall</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Tornbygge av matlådor</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Drick svart, sluta gnäll</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 64%; left: 18%;"></div>
    <div class="card" style="left: 30%;">
        <img src="/static/img/styrelsen/erik.png" alt="Nörd">
        <div class="card-body">
            <h2>Oscar Eriksson, N00b</h2>
            <h3>Vad innebär din post?</h3>
            <p>Ringa Nördking när tekniken strular</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Utreder konspirationsteorier</p>
            <h3>Om du vore maträtt, vilken skulle du vara och varför?</h3>
            <p>Spicy nugget</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Konspirationsteori</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 54%; left: 32%;"></div>
    <div class="card" style="left: 45%;">
        <img src="/static/img/styrelsen/frida2.png" alt="Bytt-Mamma">
        <div class="card-body">
            <h2>Frida Lindvall, Bytt-Mamma</h2>
            <h3>Vad innebär din post?</h3>
            <p>Jourar bara i Byttan.</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Fössta tossdan i mass</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Punschrullen </p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Baljans Pub &amp; Disco</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 33%; left: 84%;"></div>
    <div class="card" style="left: 32%;">
        <img src="/static/img/styrelsen/emil.png" alt="Infognurgla">
        <div class="card-body">
            <h2>Emil Nilsson, Infognurgla</h2>
            <h3>Vad innebär din post?</h3>
            <p>Namnet kanske låter udda, men kort och gott innebär min post att ha ansvar över all information i form av PR utåt - Lägga upp inlägg på instagram, slänga ihop några sköna affisher inför jobbsläpp osv. </p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Mångfaldig bakteriekultur</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Specialstädet ser jättebra ut!"</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>KebabHouse</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 33%; left: 5%;"></div>
    <div class="card" style="left: 17%;">
        <img src="/static/img/styrelsen/jesper.png" alt="Sekreterare">
        <div class="card-body">
            <h2>Jesper Vines, Sekreterare</h2>
            <h3>Vad innebär din post?</h3>
            <p>Att ljuga i alla protokoll</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Fick aldrig någon EPA :/</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Mazarin</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Bra städat"</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 34%; left: 32%;"></div>
    <div class="card" style="left: 45%;">
        <img src="/static/img/styrelsen/filip2.png" alt="Project X">
        <div class="card-body">
            <h2>Filip Alvgren, Project X</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixar och trixar med baljans balla projekt, både externt och internt. Dvs jag vet inte riktigt</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Hadde svårt med stavnignen</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Udelning av råshivar</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Kaffet ska drickas svart</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 45%; left: 19%;"></div>
    <div class="card" style="left: 30%;">
        <img src="/static/img/styrelsen/jullan.png" alt="Project Y">
        <div class="card-body">
            <h2>Julia Magnusson Björk, Project Y</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixar och trixar med baljans balla projekt, både externt och internt. Dvs jag vet inte riktigt</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Kunglig uppväxt i Söderhamn </p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Absolut inte mazarin </p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>Att jag känner igen er:( Förlåt jag är ansiktsblind</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 14%; left: 32%;"></div>
    <div class="card" style="left: 45%;">
        <img src="/static/img/styrelsen/molly.png" alt="Leverantörsansvarig">
        <div class="card-body">
            <h2>Molly Sundborg, BrynisBaronen</h2>
            <h3>Vad innebär din post?</h3>
            <p>Hålla koll på diverse lagernivåer och korrigerar beställningar av Jochen så att inga studenter går hungriga</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Ginger</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Bakis</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>Begränsat antal drinkbiljetter på P-festen</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 13%; left: 57%;"></div>
    <div class="card" style="left: 1%;">
        <img src="/static/img/styrelsen/otto.png" alt="Inköpsansvarig">
        <div class="card-body">
            <h2>Otto Philipsson, Inköpsansvarig</h2>
            <h3>Vad innebär din post?</h3>
            <p>Jag köper grejer, men oftast för lite.</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Skumraketen har börjat trenda rejält på Campus det senaste!</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Vet inte, det är helt orimligt faktiskt</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Du kan alltid fråga någon i styret om hjälp"</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 24%; left: 20%;"></div>
    <div class="card" style="left: 30%;">
        <img src="/static/img/styrelsen/nico.png" alt="Personaliz">
        <div class="card-body">
            <h2>Nicolas Bemba M'Foutiga, Personaliz</h2>
            <h3>Vad innebär din post?</h3>
            <p>Tar hand om alla fina jobbare och ser till att de mår bra, har kul och dyker upp på morgonen &lt;3</p>
            <h3>Berätta om din uppväxt</h3>
            <p>köpte fejksnickers på lidl under kvartsraterna</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>köp en päronbiskvi och 1 chokladbiskvi, dela och sätt ihop 50/50. Tokgott.</p>
            <h3>Om du vore maträtt, vilken skulle du vara och varför?</h3>
            <p>ngt gött o najs, typ nr 7 på shishkebab (grillspett mix, sås ingår)</p>
        </div>
    </div>
    

    {% comment %} 
    Third line 
    {% endcomment %}
    <div class="hover-area" style="top: 34%; left: 58%;"></div>
    <div class="card" style="left: 1%;">
        <img src="/static/img/styrelsen/john2.png" alt="Syssling">
        <div class="card-body">
            <h2>John Åkerblom, Syssling</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixar och trixar. Pillar och pular. Sysslar och pysslar.</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Kriget i Ukraina</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>0 kalorier i en skumrackare eller?</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Yanny</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 24%; left: 71%;"></div>
    <div class="card" style="left: 18%;">
        <img src="/static/img/styrelsen/emma.png" alt="Pyssling/Naturrutan">
        <div class="card-body">
            <h2>Emma Lalic, Pyssling/Naturrutan</h2>
            <h3>Vad innebär din post?</h3>
            <p>Basically vaktmästare</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Den pågår fortfarande</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Bakis-h*r-jour och Emil Nilsson</p>
            <h3>Hur firade du Baljan 35?</h3>
            <p>På polishuset med personen som snodde all mjölk</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 54%; left: 85%;"></div>
    <div class="card" style="left: 32%;">
        <img src="/static/img/styrelsen/rosanna.png" alt="PartyPiff">
        <div class="card-body">
            <h2>Rosanna Lilliesköld, PartyPiff</h2>
            <h3>Vad innebär din post?</h3>
            <p>Arra fetaste p-festen tillsammans med paff och puff</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Lättöl</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Baljan rålökar</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Vilken mjölk?</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 65%; left: 71%;"></div>
    <div class="card" style="left: 18%;">
        <img src="/static/img/styrelsen/jossan2.png" alt="PartyPaff">
        <div class="card-body">
            <h2>Jospehine Arnberg, PartyPaff</h2>
            <h3>Vad innebär din post?</h3>
            <p>Lägger en hel termin på att klura ut present till jobbarna</p>
            <h3>Hur firade du Baljan 35?</h3>
            <p>Slayade kareoke</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Laurel</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Ni har bra chans att slå försäljningsrekord idag"</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 77%; left: 57%;"></div>
    <div class="card" style="left: 1%;">
        <img src="/static/img/styrelsen/hlj.png" alt="PartyPuff">
        <div class="card-body">
            <h2>Hanna Lindholm Jönsson, PartyPuff</h2>
            <h3>Vad innebär din post?</h3>
            <p>Försöker fixa en banger P-fest</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Gulningar</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>BB (Baron Borgen)</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Det har aldrig funnits mjölk, 2022's största Mandela effekt</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 55%; left: 58%;"></div>
    <div class="card" style="left: 1%">
        <img src="/static/img/styrelsen/vincent.png" alt="Kulhjul">
        <div class="card-body">
            <h2>Vincent Bring, Kulhjul</h2>
            <h3>Vad innebär din post?</h3>
            <p>Styra alla interna evenmang, typ sittningar skiften och annat skoj! Det är SKOJ</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>De e alldeles för många som svarat mazarin?</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Tänk Area 51</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Daddy dungeon</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 46%; left: 71%;"></div>
    <div class="card" style="left: 18%;">
        <img src="/static/img/styrelsen/astrid2.png" alt="Kulturarv/Eventiz">
        <div class="card-body">
            <h2>Astrid Rubensson, Eventiz</h2>
            <h3>Vad innebär din post?</h3>
            <p>Agera Baljans estradör, kulturstrateg och filantrop. </p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Loka</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Techno med Nördkanslern</p>
        </div>
    </div>

    
    {% comment %} 
    The main image
    {% endcomment %}
    <img src="/static/img/straffregister-vt23.jpg" alt="Straffregister" class="main-image" />
</div>

{% endblock %}
