{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block page_title %}Styrelsen{% endblock %}

{% block body %}

<div class="container-styrelsen">
    {% comment %} 
    First line 
    {% endcomment %}
    <div class="hover-area" style="top: 17%; left: 9%;"></div>
    <div class="card" style="left: 30%;">
        <img src="/static/img/styrelsen/klara.png" alt="Ordförande" style="--length: 168;">
        <div class="card-body">
            <h2>Klara Kastensson, Ordförande</h2>
            <h3>Vad innebär din post?</h3>
            <p>Att vara ordförande i Baljan innebär att man har koll på att allt som ska göras blir gjort och ser till att verksamheten rör sig framåt. I posten sköter man kontakten utåt med diverse folk och föreningar som hör av sig i olika ärenden. Givetvis är det viktigaste att se till att alla i styrelsen och jobbarna mår bra och vetskapen om att allt löser sig med en kafferast.</p>
            <h3>Vilket nyårslöfte har du INTE lyckats hålla?</h3>
            <p>Man kan inte bryta något man aldrig haft</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Värdeordsworkshop</p>
            <h3>Hur gör ni för att vinna VSR hela tiden?</h3>
            <p>Redan framförhandlat</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 17%; left: 21%;"></div>
    <div class="card" style="left: 35%;">
        <img src="/static/img/styrelsen/oliver.png" alt="Vice ordförande" style="--length: 190;" >
        <div class="card-body">
            <h2>Oliver Wärnå, Vice ordförande</h2>
            <h3>Vad innebär din post?</h3>
            <p>Som vice ordförande hjälper jag ordförande med diverse saker, bland annat genom att vara ett bollplank  eller hålla i möten om hon är på andra äventyr.</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Ja precis, där ska den stå."</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Jonathan</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Det är tradition. </p>
        </div>
    </div>

    <div class="hover-area" style="top: 17%; left: 34%;"></div>
    <div class="card" style="left: 45%;">
        <img src="/static/img/styrelsen/hanna.png" alt="Kassör" style="--length: 175;" >
        <div class="card-body">
            <h2>Hanna Lindholm Jönsson, Kassör</h2>
            <h3>Vad innebär din post?</h3>
            <p>Baljans Balla Betalande Bokförfande Budgeterare? Betalar alla fakturor, bokför allt som betalas (och lite mer) och budgetar så allt går ihop! SKOJ </p>
            <h3>Berätta om din uppväxt</h3>
            <p>Mycket häng hos talpedagogen </p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Tycker vi ska sluta sälja klägg o satsa på daim och kexchoklad</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Pengatvätt</p>
        </div>
    </div>

    <div class="hover-area" style="top: 17%; left: 45%;"></div>
    <div class="card" style="left: 58%;">
        <img src="/static/img/styrelsen/emil.png" alt="Nörd" style="--length: 183;" >
        <div class="card-body">
            <h2>Emil Nilsson, Nördking</h2>
            <h3>Vad innebär din post?</h3>
            <p>Bli uppringd när tekniken strular</p>
            <h3>Om du vore maträtt, vilken skulle du vara och varför?</h3>
            <p>Tonfisksallad, hänger inte med i inflationen</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>vet inte, kanske efter något tråkigt företag som betalar massa pengar?</p>
            <h3>Hur firade du Baljan 35?</h3>
            <p>Spenderade alla extra pengar vi fått sen vi höjde priset på mackor</p>
        </div>
    </div>

    <div class="hover-area" style="top: 17%; left: 57%;"></div>
    <div class="card" style="left: -3%;">
        <img src="/static/img/styrelsen/unn.png" alt="Nörd" style="--length: 163;" >
        <div class="card-body">
            <h2>Unn Zachrison, Nördprinsessa</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixa fina teman till blippen! Samt starta om teknik när det strular.</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Inte dammsugare iallafall</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Tornbygge av matlådor</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Drick svart, sluta gnäll</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 17%; left: 69%;"></div>
    <div class="card" style="left: 8%;">
        <img src="/static/img/styrelsen/inge.png" alt="Nörd" style="--length: 183;" >
        <div class="card-body">
            <h2>Inge Hansson, N00b</h2>
            <h3>Vad innebär din post?</h3>
            <p>Ringa Nördking när tekniken strular</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Utreder konspirationsteorier</p>
            <h3>Om du vore maträtt, vilken skulle du vara och varför?</h3>
            <p>Spicy nugget</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Konspirationsteori</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 17%; left: 82%;"></div>
    <div class="card" style="left: 16%;">
        <img src="/static/img/styrelsen/nico.png" alt="Bytt-Mamma" style="--length: 177;" >
        <div class="card-body">
            <h2>Nicolas Bemba M'Foutiga, Bytt-Mamma</h2>
            <h3>Vad innebär din post?</h3>
            <p>Jourar bara i Byttan.</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Fössta tossdan i mass</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Punschrullen </p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Baljans Pub &amp; Disco</p>
        </div>
    </div>
    
    
    {% comment %} 
    Second line 
    {% endcomment %}
    <div class="hover-area" style="top: 44%; left: 9%;"></div>
    <div class="card" style="left: 30%;">
        <img src="/static/img/styrelsen/julia.png" alt="Infognurgla" style="--length: 170;" >
        <div class="card-body">
            <h2>Julia Magnusson Björk, Infognurgla</h2>
            <h3>Vad innebär din post?</h3>
            <p>Namnet kanske låter udda, men kort och gott innebär min post att ha ansvar över all information i form av PR utåt - Lägga upp inlägg på instagram, slänga ihop några sköna affisher inför jobbsläpp osv. </p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Mångfaldig bakteriekultur</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Specialstädet ser jättebra ut!"</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>KebabHouse</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 44%; left: 21%;"></div>
    <div class="card" style="left: 35%;">
        <img src="/static/img/styrelsen/lukasb.png" alt="Sekreterare" style="--length: 186;">
        <div class="card-body">
            <h2>Lukas Brunzell, Sekreterare</h2>
            <h3>Vad innebär din post?</h3>
            <p>Att ljuga i alla protokoll</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Fick aldrig någon EPA :/</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Mazarin</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Bra städat"</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 44%; left: 34%;"></div>
    <div class="card" style="left: 45%;">
        <img src="/static/img/styrelsen/astrid.png" alt="Project X" style="--length: 162;" >
        <div class="card-body">
            <h2>Astrid Rubensson, Project X</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixar och trixar med baljans balla projekt, både externt och internt. Dvs jag vet inte riktigt</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Hadde svårt med stavnignen</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Udelning av råshivar</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Kaffet ska drickas svart</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 44%; left: 45%;"></div>
    <div class="card" style="left: 58%;">
        <img src="/static/img/styrelsen/matilda.png" alt="Project Y" style="--length: 163;" >
        <div class="card-body">
            <h2>Matilda Sunnert, Project Y</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixar och trixar med baljans balla projekt, både externt och internt. Dvs jag vet inte riktigt</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Kunglig uppväxt i Söderhamn </p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Absolut inte mazarin </p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>Att jag känner igen er:( Förlåt jag är ansiktsblind</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 44%; left: 57%;"></div>
    <div class="card" style="left: -3%;">
        <img src="/static/img/styrelsen/emma.png" alt="Leverantörsansvarig" style="--length: 172;">
        <div class="card-body">
            <h2>Emma Gustafsson, BakisBaronen</h2>
            <h3>Vad innebär din post?</h3>
            <p>Hålla koll på diverse lagernivåer och korrigerar beställningar av Jochen så att inga studenter går hungriga</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Ginger</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Bakis</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>Begränsat antal drinkbiljetter på P-festen</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 44%; left: 69%;"></div>
    <div class="card" style="left: 8%;">
        <img src="/static/img/styrelsen/otto.png" alt="Inköpsansvarig" style="--length: 182;" >
        <div class="card-body">
            <h2>Otto Philipsson, Inköpsansvarig</h2>
            <h3>Vad innebär din post?</h3>
            <p>Jag köper grejer, men oftast för lite.</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Skumraketen har börjat trenda rejält på Campus det senaste!</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Vet inte, det är helt orimligt faktiskt</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Du kan alltid fråga någon i styret om hjälp"</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 44%; left: 82%;"></div>
    <div class="card" style="left: 16%;">
        <img src="/static/img/styrelsen/jesper.png" alt="Personaliz" style="--length: 181;" >
        <div class="card-body">
            <h2>Jesper Vines, Personaliz</h2>
            <h3>Vad innebär din post?</h3>
            <p>Tar hand om alla fina jobbare och ser till att de mår bra, har kul och dyker upp på morgonen &lt;3</p>
            <h3>Berätta om din uppväxt</h3>
            <p>köpte fejksnickers på lidl under kvartsraterna</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>köp en päronbiskvi och 1 chokladbiskvi, dela och sätt ihop 50/50. Tokgott.</p>
            <h3>Om du vore maträtt, vilken skulle du vara och varför?</h3>
            <p>ngt gött o najs, typ nr 7 på shishkebab (grillspett mix, sås ingår)</p>
        </div>
    </div>
    

    {% comment %} 
    Third line 
    {% endcomment %}
    <div class="hover-area" style="top: 71%; left: 9%;"></div>
    <div class="card" style="left: 30%;">
        <img src="/static/img/styrelsen/rosanna.png" alt="Syssling" style="--length: 181;" >
        <div class="card-body">
            <h2>Rosanna Lilliesköld, Syssling</h2>
            <h3>Vad innebär din post?</h3>
            <p>Fixar och trixar. Pillar och pular. Sysslar och pysslar.</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Kriget i Ukraina</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>0 kalorier i en skumrackare eller?</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Yanny</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 71%; left: 21%;"></div>
    <div class="card" style="left: 35%;">
        <img src="/static/img/styrelsen/gartz.png" alt="Pyssling/Naturrutan" style="--length: 195;" >
        <div class="card-body">
            <h2>Johan Gartz, Pyssling/Naturrutan</h2>
            <h3>Vad innebär din post?</h3>
            <p>Basically vaktmästare</p>
            <h3>Berätta om din uppväxt</h3>
            <p>Den pågår fortfarande</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Bakis-h*r-jour och Emil Nilsson</p>
            <h3>Hur firade du Baljan 35?</h3>
            <p>På polishuset med personen som snodde all mjölk</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 71%; left: 34%;"></div>
    <div class="card" style="left: 45%;">
        <img src="/static/img/styrelsen/frida.png" alt="PartyPiff" style="--length: 165;">
        <div class="card-body">
            <h2>Frida Lindvall, PartyPiff</h2>
            <h3>Vad innebär din post?</h3>
            <p>Arra fetaste p-festen tillsammans med paff och puff</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Lättöl</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Baljan rålökar</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Vilken mjölk?</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 71%; left: 45%;"></div>
    <div class="card" style="left: 58%;">
        <img src="/static/img/styrelsen/vincent.png" alt="PartyPaff" style="--length: 182;" >
        <div class="card-body">
            <h2>Vincent Bring, PartyPaff</h2>
            <h3>Vad innebär din post?</h3>
            <p>Lägger en hel termin på att klura ut present till jobbarna</p>
            <h3>Hur firade du Baljan 35?</h3>
            <p>Slayade kareoke</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Laurel</p>
            <h3>Vad ljugs det om till jobbare?</h3>
            <p>"Ni har bra chans att slå försäljningsrekord idag"</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 71%; left: 57%;"></div>
    <div class="card" style="left: -3%;">
        <img src="/static/img/styrelsen/molly.png" alt="PartyPuff" style="--length: 160;" >
        <div class="card-body">
            <h2>Molly Sundborg, PartyPuff</h2>
            <h3>Vad innebär din post?</h3>
            <p>Försöker fixa en banger P-fest</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Gulningar</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>BB (Baron Borgen)</p>
            <h3>Varför är möjlken slut?</h3>
            <p>Det har aldrig funnits mjölk, 2022's största Mandela effekt</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 71%; left: 69%;"></div>
    <div class="card" style="left: 8%">
        <img src="/static/img/styrelsen/klittan.png" alt="Kulhjul" style="--length: 173;" >
        <div class="card-body">
            <h2>Filip Alvgren, Kulhjul</h2>
            <h3>Vad innebär din post?</h3>
            <p>Styra alla interna evenmang, typ sittningar skiften och annat skoj! Det är SKOJ</p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>De e alldeles för många som svarat mazarin?</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Tänk Area 51</p>
            <h3>Vad skulle du döpt nya rummet till?</h3>
            <p>Daddy dungeon</p>
        </div>
    </div>
    
    <div class="hover-area" style="top: 71%; left: 82%;"></div>
    <div class="card" style="left: 16%;">
        <img src="/static/img/styrelsen/lukas.png" alt="Kulturarv/Eventiz" style="--length: 187;" >
        <div class="card-body">
            <h2>Lukas Peterson, Eventiz</h2>
            <h3>Vad innebär din post?</h3>
            <p>Agera Baljans estradör, kulturstrateg och filantrop. </p>
            <h3>Vilket är Baljans Ballaste klägg?</h3>
            <p>Loka</p>
            <h3>Vad händer i Nollberga?</h3>
            <p>Techno med Nördkanslern</p>
        </div>
    </div>

    
    {% comment %} 
    The main image
    {% endcomment %}
    <img src="/static/img/straffregister-ht22.jpg" alt="Straffregister" class="main-image" />
</div>

{% endblock %}
