{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block head_title %}Penalty-reg{% endblock %}

{% block body_class %}Penalty-reg{% endblock %}
{% block body %}

<div class="container-styrelsen"> <!-- d-flex justify-content-center -->

    <div id="ordf" class="styrelse-member" style="top: 32%; left: 3%;"></div>
    <div id="vice" class="styrelse-member" style="top: 32%; left: 17%;"></div>
    <div id="kass" class="styrelse-member" style="top: 32%; left: 31%;"></div>
    <div id="pers" class="styrelse-member" style="top: 32%; left: 45%;"></div>
    <div id="ink" class="styrelse-member" style="top: 32%; left: 59%;"></div>
    <div id="p1" class="styrelse-member" style="top: 32%; left: 73%;"></div>
    <div id="p2" class="styrelse-member" style="top: 32%; left: 87%;"></div>

    <div id="sek" class="styrelse-member" style="top: 54%; left: 3%;"></div>
    <div id="syss" class="styrelse-member" style="top: 54%; left: 17%;"></div>
    <div id="pyss" class="styrelse-member" style="top: 54%; left: 31%;"></div>
    <div id="info" class="styrelse-member" style="top: 54%; left: 45%;"></div>
    <div id="piff" class="styrelse-member" style="top: 54%; left: 59%;"></div>
    <div id="paff" class="styrelse-member" style="top: 54%; left: 73%;"></div>
    <div id="puff" class="styrelse-member" style="top: 54%; left: 87%;"></div>

    <div id="lev" class="styrelse-member" style="top: 77%; left: 3%;"></div>
    <div id="event" class="styrelse-member" style="top: 77%; left: 17%;"></div>
    <div id="bytt" class="styrelse-member" style="top: 77%; left: 31%;"></div>
    <div id="kul" class="styrelse-member" style="top: 77%; left: 45%;"></div>
    <div id="nerd00" class="styrelse-member" style="top: 77%; left: 59%;"></div>
    <div id="nerd01" class="styrelse-member" style="top: 77%; left: 73%;"></div>
    <div id="n00b" class="styrelse-member" style="top: 77%; left: 87%;"></div>

    <img src="/static/img/Straffregister-HT2020.png" alt="Straffregister" class="image-styrelsen" />

    <div id="ordf-prof" class="card mb-3 styrelse-profile " style="left: 30%;">
        <img src="/static/img/styrelsen/diktatorn.jpg" class="card-img-top image-prof" alt="Ordf" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Daniel Granath, Ordförande</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Att vara ordförande i Baljan innebär att man har koll på att allt som ska göras blir gjort och ser till att verksamheten rör sig framåt. I posten sköter man kontakten utåt med diverse folk och föreningar som hör av sig i olika ärenden. Givetvis är det viktigaste att se till att alla i styrelsen och jobbarna mår bra och vetskapen om att allt löser sig med en kafferast.</p>
            <p class="bold prof-text">Berätta om din uppväxt.</p>
            <p class="p">Gameboy och Tom & Jerry-kex.</p>
            <p class="bold prof-text">Vad ljugs det om till jobbare?</p>
            <p class="p">Det tar vi upp på nästa möte.</p>
        </div>
    </div>

    <div id="vice-prof" class="card mb-3 styrelse-profile " style="left: 35%;">
        <img src="/static/img/styrelsen/anna.jpg" class="card-img-top image-prof" alt="Vice" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Anna Bergnäs, Vice Ordförande</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Som Vice Ordförande ansvarar jag för att fakturera de beställningar som kommer in och avlasta vår eminente Ordförande vid behov.</p>
            <p class="bold prof-text">Vad händer i Nollberga?</p>
            <p class="p">Prokrastingering på högsta nivå</p>
            <p class="bold prof-text">Vilket är Baljans Ballaste klägg?</p>
            <p class="p">Morotskaka eller saffranskladdkaka vid säsong</p>
        </div>
    </div>

    <div id="kass-prof" class="card mb-3 styrelse-profile" style="left: 45%;">
        <img src="/static/img/styrelsen/lillgavve.jpg" class="card-img-top image-prof" alt="Kassör" style="object-position: 15% 40%;">
        <div class="card-body">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Filip Gavefalk, Kassör</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Det är jag som ser till att Baljan går med vinst! Vill du ha en faktura betald? Behöver bokföring göras? Behöver Baljan en schyst budget? I'm your guy!</p>
            <p class="bold prof-text">Berätta om din uppväxt.</p>
            <p class="p">Hockey + Köttbullar & makaroner.</p>
            <p class="bold prof-text">Vilket är Baljans ballaste klägg?</p>
            <p class="p">Loka.</p>
        </div>
    </div>

    <div id="pers-prof" class="card mb-3 styrelse-profile" style="left:-23%;">
        <img src="/static/img/styrelsen/marta.jpg" class="card-img-top image-prof" alt="Personaliz" style="object-position: 15% 40%;">
        <div class="card-body">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Märta Sund, Personaliz</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Som personalis så har jag den främsta kontakten med jobbarna och hjälper dem med jobbrelaterade frågor samt styr upp jobbinfo-kvällar och jobbsläpp.</p>
            <p class="bold prof-text">Om du vore en växt, vilken skulle du vara och varför?</p>
            <p class="p">Absolut inte en kaffeböna. Gillar inte ens kaffe!</p>
            <p class="bold prof-text">Vad ljugs det om till jobbare?</p>
            <p class="p">Att man får falafelrulle på jobbinfokvällen!</p>
        </div>
    </div>

    <div id="ink-prof" class="card mb-3 styrelse-profile" style="left:-13%;">
        <img src="/static/img/styrelsen/oliver.jpg" class="card-img-top image-prof" alt="Inköpsansvarig" style="object-position: 15% 40%;">
        <div class="card-body">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Oliver Wärnå, Inköpsansvarig</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Som inköpsansvarig ser jag till att det alltid finns kaffe och klägg på lager i Baljan och Byttan!</p>
            <p class="bold prof-text">Om du vore en växt, vilken skulle du vara och varför?</p>
            <p class="p">Jag skulle vilja vara en kvist på en gren på ett träd på en äng i en dal.</p>
            <p class="bold prof-text">Vilket är Baljans ballaste klägg?</p>
            <p class="p">Den gamla hederliga och ärliga dammsugaren.</p>
        </div>
    </div>

    <div id="p1-prof" class="card mb-3 styrelse-profile" style="left: 5%;">
        <img src="/static/img/styrelsen/storgavve.jpg" class="card-img-top image-prof" alt="Projekt1" style="object-position: 15% 40%;">
        <div class="card-body">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Jakob Gavefalk, Projektis #1</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Som projekt #1 arbetar jag tillsammans med projekt #2! Vi tar hand om alla projekt som inte faller naturligt på de andra posterna. Vi har dessutom stora möjligheter att själva dra igång projekt som vi tror kan förbättra Baljan & Byttan.</p>
            <p class="bold prof-text">Berätta om din uppväxt</p>
            <p class="p">Hockey + Köttbullar & makaroner.</p>
            <p class="bold prof-text">Vilket är Baljans ballaste klägg?</p>
            <p class="p">Loka.</p>
        </div>
    </div>

    <div id="p2-prof" class="card mb-3 styrelse-profile" style="left: 10%;">
        <img src="/static/img/styrelsen/albin.jpg" class="card-img-top image-prof" alt="Projekt2" style="object-position: 15% 40%;">
        <div class="card-body">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Albin Swartz Håkansson, Projektis #2</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Fixar och trixar med baljans balla projekt, både externt och internt. Dvs jag vet inte riktigt. </p>
            <p class="bold prof-text">Vad händer i Nollberga?</p>
            <p class="p">Nollis = Palmerummet</p>
            <p class="bold prof-text">Om du vore en växt, vilken skulle du vara och varför?</p>
            <p class="p">Brännässla för det stavas snyggt.</p>
        </div>
    </div>


    <div id="sek-prof" class="card mb-3 styrelse-profile " style="left: 30%;">
        <img src="/static/img/styrelsen/sofia.jpg" class="card-img-top image-prof" alt="Sekreterare" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Sofia Olsson, Sekreterare</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Som sekreterare har jag den fantastiska uppgiften att anteckna vad alla balla styrelsemedlemmar yttrar under våra möten :)</p>
            <p class="bold prof-text">Vad händer i Nollberga?</p>
            <p class="p">Kom förbi och häng så får du veta!</p>
            <p class="bold prof-text">Om du vore en växt, vilken skulle du vara och varför?</p>
            <p class="p">Jag tror att jag skulle vara en blomma för jag tycker att jag blir lite ledsen på vintern men blommar ut på våren:)</p>
        </div>
    </div>

    <div id="syss-prof" class="card mb-3 styrelse-profile " style="left: 35%;">
        <img src="/static/img/styrelsen/uno.jpg" class="card-img-top image-prof" alt="Syssnoob" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Uno Österman, Syssnoob</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Syssn00b är best of both worlds, hälften noob och hälften syssling. Som noob är jag tillsammans med de andra nördarna ansvarig för Baljans digitala system och som syssling tillsammas med Emma är jag ansvarig för Baljans inventarier och balla discolampor</p>
            <p class="bold prof-text">Om du vore en växt, vilken skulle du vara och varför?</p>
            <p class="p">Pinapple Express</p>
            <p class="bold prof-text">Hur gör ni för att vinna VSR hela tiden?</p>
            <p class="p">Vårt trick är att valla rätt, se denna film för att få receptet till vinnarkonceptet: <a href=https://www.facebook.com/watch/?v=1845839045458675&extid=vwyxceFutrnP6Iqt>Baljans balla valla</a></p>
        </div>
    </div>

    <div id="pyss-prof" class="card mb-3 styrelse-profile " style="left: 45%;">
        <img src="/static/img/styrelsen/fippe.jpg" class="card-img-top image-prof" alt="Pyssling" style="object-position: 0% 30%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Filip Bergenholm, Pyssling</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Att hålla skutan flytande och pumpa läns när hålen uppstår i skrovet.</p>
            <p class="bold prof-text">Vad händer i Nollberga?</p>
            <p class="p">Den största konspiartionen i historien</p>
            <p class="bold prof-text">Vad känner du mest distans till?</p>
            <p class="p">Kroppsarbete och devisen "att göra rätt för sig"</p>
        </div>
    </div>

    <div id="info-prof" class="card mb-3 styrelse-profile " style="left: -23%;">
        <img src="/static/img/styrelsen/gustav.jpg" class="card-img-top image-prof" alt="Infognurgla" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Gustav Wahlquist, Infognurgla</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Är Baljans ansikte utåt. Beställer kycklinggula hoodies, sköter sociala medier samt fixar skyltar och PR. </p>
            <p class="bold prof-text">Berätta om din uppväxt</p>
            <p class="p">Yu-Gi-Oh!</p>
            <p class="bold prof-text">Vilket är Baljans Ballaste klägg?</p>
            <p class="p">Mazarin på mån- och onsdagar.</p>
        </div>
    </div>

    <div id="piff-prof" class="card mb-3 styrelse-profile " style="left: -13%;">
        <img src="/static/img/styrelsen/josephine.jpg" class="card-img-top image-prof" alt="Partypiff" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Josephine Arnberg, Partypiff</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Som Partypiff är jag en av tre som planerar P-festen för våra fantastiska jobbare!</p>
            <p class="bold prof-text">Vilket är Baljans Ballaste klägg?</p>
            <p class="p">Chokladmockaruta<3</p>
        </div>
    </div>

    <!--Stor-Gave-->
    <div id="paff-prof" class="card mb-3 styrelse-profile " style="left: 0;">
        <img src="/static/img/styrelsen/agnes.jpg" class="card-img-top image-prof" alt="Partypaff" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Agnes Elm, Partypaff</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Anordnar tillsammans med Piff och Puff den årliga (grymma!!!) P-festen som är vårt sätt att tacka alla jobbare<3</p>
            <p class="bold prof-text">Vad händer i Nollberga?</p>
            <p class="p">Det vill ni inte veta.</p>
            <p class="bold prof-text">Om du vore en växt, vilken skulle du vara och varför?</p>
            <p class="p">Sockerdricksträd.</p>
        </div>
    </div>

    <div id="puff-prof" class="card mb-3 styrelse-profile " style="left: 10%;">
        <img src="/static/img/styrelsen/rosie.jpg" class="card-img-top image-prof" alt="Partypuff" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Rosanna Lilliesköld, Partypuff</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Jag tillsammans med Piff och Paff har den stora äran att anordna P-festen för alla våra fina jobbare!</p>
            <p class="bold prof-text">Vilket är Baljans Ballaste klägg?</p>
            <p class="p">Inte mazarin iaf</p>
            <p class="bold prof-text">Vad känner du mest distans till?</p>
            <p class="p">mazariner</p>
        </div>
    </div>

    <div id="lev-prof" class="card mb-3 styrelse-profile " style="left: 30%;">
        <img src="/static/img/styrelsen/sAdam.jpg" class="card-img-top image-prof" alt="Leverantörsansvarig" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Adam Andersson, Leverantöriz</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Att man har hand om alla beställningar som gäller förbrukningsvaror (koppar, kaffefilter, lock osv...), mackor, sallader, te och frukt. Man blir ett beställnignsproffs med andra ord!</p>
        </div>
    </div>

    <div id="event-prof" class="card mb-3 styrelse-profile " style="left: 35%;">
        <img src="/static/img/styrelsen/emmaskane.png" class="card-img-top image-prof" alt="Eventis" style="object-position: -10% 30%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Emma Gustafsson, Eventis</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Agera Baljans estradör, kulturstrateg och filantrop. </p>
            <p class="bold prof-text">Vilket är Baljans Ballaste klägg?</p>
            <p class="p">Kolakakor, kolasnittar, nötcremesrullen, pärlboll, chokladcookie, mazarin, delicatoboll,pepparkaksrulle, hallongrotta, päronbiskvi & LYXKLÄGG!!! </p>
            <p class="bold prof-text">Berätta om din uppväxt</p>
            <p class="p">Snabbnudlar & rostemacka med smör.</p>
        </div>
    </div>

    <div id="bytt-prof" class="card mb-3 styrelse-profile " style="left: 45%;">
        <img src="/static/img/styrelsen/matilda.jpg" class="card-img-top image-prof" alt="Byttmamma" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Matilda Sunnert, Byttmamma</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">I rollen som ByttMaMa har du ett extra öga för Byttan. Detta innebär bland annat att komma med idéer kring utbud och utformning i det (relativt) nya caféet, agera kontaktperson och därmed gå på möten med LiU och Akademiska hus samt att dricka stora mängder kaffe vid Byttans trevliga sittplatser.</p>
            <p class="bold prof-text">Vilket är Baljans Ballaste klägg?</p>
            <p class="p">Delicatoboll! Klassiker</p>
            <p class="bold prof-text">Vad händer i Nollberga?</p>
            <p class="p">Världsbäst häng</p>
        </div>
    </div>

    <div id="kul-prof" class="card mb-3 styrelse-profile " style="left: -24%;">
        <img src="/static/img/styrelsen/lasse.jpg" class="card-img-top image-prof" alt="Kulhjul" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Viktor Larsson, Kulhjul</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Jag styr alla events för styrelsen! Behöver vi käka en middag? Dricka en öl? I'm your guy</p>
            <p class="bold prof-text">Varför hjälper ni inte till och städar?</p>
            <p class="p">Jag vet inte ens hur man kokar kaffe</p>
            <p class="bold prof-text">Vad händer i Nollberga?</p>
            <p class="p">Allt har hänt i Nollberga. Allt.</p>
        </div>
    </div>

    <div id="nerd00-prof" class="card mb-3 styrelse-profile " style="left: -13%;">
        <img src="/static/img/styrelsen/eric.jpg" class="card-img-top image-prof" alt="Nörd" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Eric Jonsson, Nörd</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Nördarna ansvarar för allt det tekniska i och omkring Baljan. Detta innefattar bland annat Baljans Balla Hemsida™ samt Baljan Balla Blipp™. Som nörd har man stor frihet och möjlighet att driva igenom sina egna nördidéer samtidigt som man har stora möjligheter att utveckla sin tekniska förmåga och samla erfarenhet.</p>
            <p class="bold prof-text">Vad ljugs det om till jobbare?</p>
            <p class="p">Ljuga för jobbare i självaste Baljan? Nej! Rakryggat yppa sanningen? Ja!</p>
            <p class="bold prof-text">Varför hjälper ni inte till och städar?</p>
            <p class="p">Någon måste ju stöka ner?</p>
        </div>
    </div>

    <div id="nerd01-prof" class="card mb-3 styrelse-profile " style="left: 0">
        <img src="/static/img/styrelsen/david.jpg" class="card-img-top image-prof" alt="Nörd" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">David Åström, Noob</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">En av nykomlingarna i nördgänget som tillsammans ser till att baljans digitala system fungerar och utvecklas vidare med nya mer eller mindre kul funktioner</p>
            <p class="bold prof-text">Berätta om din uppväxt.</p>
            <p class="p">Skogaholmslimpa och Oboy</p>
            <p class="bold prof-text">Varför hjälper ni inte till och städar?</p>
            <p class="p">Det är mycket nu</p>
        </div>
    </div>

    <div id="n00b-prof" class="card mb-3 styrelse-profile" style="left: 10%;">
        <img src="/static/img/styrelsen/emma.jpg" class="card-img-top image-prof" alt="Nörd" style="object-position: 15% 40%;">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title h5" style="color: rgb(230,0,139);">Emma Beskow, N00bling</h5>
            <p class="bold prof-text">Vad innebär din post?</p>
            <p class="p">Precis som min vapendragare syssn00b är jag till hälften noob och till hälften syssling. Det innebär att jag tillsammans med de andra nördarna ansvarar för Baljans IT-system såsom hemsidan och blippen samt att jag ihop med syssnoob och pyssling ser till att baljans inventarier hålls i trim även inför kommande terminer. </p>
            <p class="bold prof-text">Om du vore en växt, vilken skulle du vara och varför?</p>
            <p class="p">Potatis - kokt på torsdagen, chips på fredagen, destillerad på lördagen och mos på söndagen</p>
            <p class="bold prof-text">Berätta om din uppväxt</p>
            <p class="p">Scouting, kladdkakesmet och en kortlivad hamster.</p>
        </div>
    </div>

</div>

{% endblock %}
