{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Search Person" %}{% endblock %}

{% block body_class %}search-person{% endblock %}
{% block body %}
<h1>{% trans "Search Person" %}</h1>
<div class="grid_8 alpha main">
    <div>
        <form class="search uniForm" method="POST" action="">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                <div class="ctrlHolder">
                    <input style="width:98%;margin:0 auto" 
                        id="search-terms" type="text" class="textinput textInput"
                        name="search-terms" value="{{terms|default:""}}"/>
                </div>
            </fieldset>
        </form>
        <p>
            {% blocktrans %}
            Matches first name, last name, liu id, and groups. Only people that
            match each term show up in the results.
            {% endblocktrans %}
        </p>
    </div>

    <div class="results">
        <h2>{% trans "Hits" %} (<span class="count">{{hits|length}}</span>)</h2>
        <ul>
            {% for hit in hits %}
            <li>
                <a href="{{hit.get_absolute_url}}">{{hit.get_full_name}} ({{hit.username}})</a>
            </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
</div><!--.main-->
<div class="grid_2 omega secondary">
    {% if groups %}
    <div class="groups">
        <h2>{% trans "Groups" %}</h2>
        <ul>
            {% for group in groups %}
            <li>
                <a href="{% url 'group' group.name%}">{{group.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div><!--.secondary-->
<div class="clear"></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
// <![CDATA[
    CONFIRM_MSG = "{% trans "Are you sure?" %}";
    CONFIRM_SIGNUP = "{% trans "This cannot be undone. Are you sure?" %}";
    CONFIRM_DELETE = CONFIRM_MSG;
// ]]>
</script>
{% endblock %}
