{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}

{% block head_title %}{% trans "Trade Shifts" %}{% endblock %}

{% block body_class %}trade{% endblock %}
{% block body %}

{% if redir %}
    <a href="{{redir}}">&laquo; Tillbaka till föregående sida</a>
{% endif %}
    <h1>
        Bytt pass
    </h1>
    {% if saved %}
        <div class="alert alert-success">
            Ändringar sparade
        </div>
    {% endif %}
{% if take %}
    <div class="row">
        <div class="col">
            <h2>Begärt pass</h2>
            <strong>
               När
            </strong>
            <br/>
            <a href="{{take.shift.get_absolute_url}}">{{take.signup.shift.timeofday}} {{take.shift.when|date}}</a>
            <br/>
            <strong>
                Var
            </strong>
            <br/>
            {{ take.shift.get_location_display }}
            <br/>
            <strong>
                Från användare
            </strong>
            <br/>
            {{take.signup|user_link}}
        </div>
        <div class="col">
            <h2>Du kan erbjuda</h2>
            <p>
                Markera passen som du vill erbjuda.
                {{ take.signup.user.first_name }}
                kommer att kunna välja ett av dem.
                Du kan lägga till och ta bort erbjudanden när som helst.
            </p>
            <form name="take-request" method="POST" action="">
                {% csrf_token %}
                <p>
                {% for su in take.can_offer %}
                <input {% if su in take.offered_signups %} checked="checked"{%endif%}
                    type="checkbox" name="signup_{{su.pk}}"
                        value="{{su.pk}}"
                        id="id_signup_{{su.pk}}" />
                    <label for="id_signup_{{su.pk}}">
                    {{su.shift.timeofday}}
                    {{su.shift.when|date}}
                    {{su.shift.get_location_display}}
                    </label><br/>
                {% empty %}
                    Du har inga pass att erbjuda.
                {% endfor %}
                </p>
                <div class="submit">
                    <input class="btn btn-primary" type="submit" value="{% if take.offered_signups %}Uppdatera bytesförfrågan{% else %}Skicka bytesförfrågan{% endif %}"/>
                </div>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block extra_body %}
{% endblock %}
