{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load baljan_extras %}
{% load staticfiles %}

{# “user” refers to the logged in user, therefore “watched” is used instead. #}
{% block head_title %}{{ watched | display_name }}{% endblock %}

{% block body_class %}user{% endblock %}
{% block body %}
    <h1>{{ watched | detailed_name }}
        {% if perms.auth.change_user %}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" disabled><i class="fa fa-lock" aria-hidden="true"></i></button>
                <a href="{% url 'admin:auth_user_change' watched.id %}" role="button" class="btn btn-secondary">Visa användare</a>
                <a href="{% url 'admin:baljan_profile_change' watched.profile.id %}" role="button" class="btn btn-secondary">Visa profil</a>
            </div>
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-md">
            <h2>Profil
                {% if profile_forms %}
                    <small style="vertical-align: middle;">
                        <button type="button" class="btn badge badge-primary" data-toggle="modal" data-target="#edit-profile-modal">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Ändra profil / Fyll i LiU-kortnummer
                        </button>
                    </small>
                {% endif %}
            </h2>
            {% with watched.profile as prof %}

                <dl>
                    <dt>Namn</dt>
                    <dd>{{ watched.get_full_name }}</dd>
                    {% if watching_self or perms.baljan.self_and_friend_signup %}
                        <dt>Telefon</dt>
                        {% if prof.mobile_phone %}
                            <dd>{{ prof.mobile_phone }}</dd>
                        {% else %}
                            <dd>{% trans "unset" %}</dd>
                        {% endif %}
                    {% endif %}
                    {% if watching_self %}
                        <dt>Kort-id</dt>
                        {% if prof.card_id %}
                            <dd>{{ prof.card_id }}</dd>
                        {% else %}
                            <dd>
                                {% trans "Kort-id ej angett." %}
                            </dd>
                        {% endif %}
                    {% endif %}
                    <dt>Senast inloggad</dt>
                    <dd>{{ watched.last_login|date }} {{ watched.last_login|time }}</dd>
                    {% if watching_self %}
                        <dt>Kalender</dt>
                        <dd><a href="{% url 'user_calendar' watched.profile.private_key %}">
                            {% trans "iCal format" %}</a></dd>

                        <dt>Motto</dt>
                        {% if prof.motto %}
                            <dd>{{ prof.motto }}</dd>
                        {% else %}
                            <dd>
                                {% trans "None set. It is displayed in the high scores." %}
                            </dd>
                        {% endif %}

                    {% endif %}

                    {% with watched_groups as groups %}
                        <dt>{% trans "Groups" %}</dt>
                        {% if groups|length %}
                            <ul>
                                {% for group in groups %}
                                    <li>
                                        <a href="{% url 'group' group.name %}">{{ group.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>
                                Inga.
                            </p>
                        {% endif %}
                    {% endwith %}

                    {% if watching_self %}
                        <dt>Samtycken</dt>
                        {% if is_worker %}
                            <p>
                                Du är bunden till ett avtal med Baljan och kan tyvärr inte ta ställning till
                                samtycken som berör dina personuppgifter. Du har trots det kvar rätten att
                                bli bortglömd. Detta kan du begära genom att kontakta personalansvarig på
                                <a href="mailto:personalis@baljan.org">personalis@baljan.org</a>
                                för att avsluta din karriär i Sektionscafé Baljan.
                            </p>
                        {% else %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Policy</th>
                                    <th>Datum</th>
                                    <th>Åtgärd</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, policy in policies.consented.items %}
                                    <tr>
                                        <td>
                                            <a href="{{ policy.pdf }}">
                                                {{ policy.name }}
                                                {% if policy.version > 1 %}
                                                    (v{{ policy.version }})
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            {{ policy.date_of_consent }}
                                        </td>
                                        <td>
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="policy" value="{{ key }}/{{ policy.version }}/revoke">
                                                <button type="submit" class="btn btn-danger btn-sm">Återkalla</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for key, policy in policies.not_consented.items %}
                                    <tr>
                                        <td>
                                            <a href="{{ policy.pdf }}">
                                                {{ policy.name }}
                                                {% if policy.version > 1 %}
                                                    (v{{ policy.version }})
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            {{ policy.date_of_consent }}
                                        </td>
                                        <td>
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="policy" value="{{ key }}/{{ policy.version }}/consent">
                                                <button type="submit" class="btn btn-primary btn-sm">Samtyck</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endif %}
                </dl>
            {% endwith %}
        </div>
        <div class="col-md">
            {% if trade_requests %}
                <div class="pending-highlight">
                    <h2>{% trans "Trade Requests" %}</h2>
                    {% if received_trade_requests %}
                        <h4>Mottagna</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Begärt</th>
                                <th>Erbjudet</th>
                                <th>Från</th>
                                <th>Svar</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for recd in received_trade_requests %}
                                <tr>
                                    {% with recd.wanted_signup as wanted %}
                                        <td>
                                            {% ifchanged wanted %}
                                                {{ wanted|shift_link_short }}
                                            {% endifchanged %}
                                        </td>
                                    {% endwith %}
                                    {% with recd.offered_signup as offered %}
                                        <td>
                                            {% ifchanged offered %}
                                                {{ offered|shift_link_short }}
                                            {% endifchanged %}
                                        </td>
                                        <td>
                                            {{ offered|name_link }}
                                        </td>
                                    {% endwith %}
                                    <td>
                                        <a class="deny"
                                           href="{% url 'deny_trade' recd.pk request.path %}"
                                        >Neka</a>
                                        <a class="accept"
                                           href="{% url 'accept_trade' recd.pk request.path %}"
                                        >Acceptera</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if sent_trade_requests %}
                        <h4>Skickade</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Begärt</th>
                                <th>Erbjudet</th>
                                <th>Till</th>
                                <th>Åtgärd</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sent in sent_trade_requests %}
                                <tr>
                                    {% with sent.wanted_signup as wanted %}
                                        <td>
                                            {% ifchanged wanted %}
                                                {{ wanted|shift_link_short }}
                                            {% endifchanged %}
                                        </td>
                                        {% with sent.offered_signup as offered %}
                                            <td>
                                                {% ifchanged offered %}
                                                    {{ offered|shift_link_short }}
                                                {% endifchanged %}
                                            </td>
                                            <td>
                                                {{ wanted|name_link }}
                                            </td>
                                        {% endwith %}
                                        <td>
                                            {% ifchanged wanted %}
                                                <a href="{% url 'take_signup' wanted.pk request.path %}">Redigera</a>
                                            {% endifchanged %}
                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            {% endif %}

            {% for type_title, type_classes, grouped_signups in signup_types %}
                {% if grouped_signups|length %}
                    <div class="signups {{ type_classes|join:" " }}">
                        <h2>{{ type_title|title }}</h2>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Termin</th>
                                <th>Datum</th>
                                <th>fm/em</th>
                                <th>Plats</th>
                            </tr>
                            </thead>
                            {% for gtitle, gclass, gsignups in grouped_signups %}
                                <tr class="group {{ glclass|join:" " }}">
                                    <td colspan="4">{{ gtitle }}</td>
                                </tr>
                                {% for signup in gsignups %}
                                    <tr>
                                        {% with signup.shift as shift %}
                                            <td>
                                                {% with shift.semester as sem %}
                                                    {% ifchanged sem %}
                                                        <a href="{{ sem.get_absolute_url }}">{{ sem.name }}</a>
                                                    {% endifchanged %}
                                                {% endwith %}
                                            </td>
                                            <td class="{% if signup.can_trade %}tradable{% endif %}">
                                                <a href="{{ shift.get_absolute_url }}">{{ shift.when|naturalday }}</a>
                                            </td>
                                            <td>
                                                {{ shift.ampm }}
                                            </td>
                                            <td>
                                                {{ shift.get_location_display }}
                                            </td>
                                        {% endwith %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    {% if profile_forms %}
        <div id="edit-profile-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ändra profil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form enctype="multipart/form-data" method="POST" action="">{% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md">
                                    <table>
                                        {% for profile_form in profile_forms %}
                                            {% for test in profile_form %}
                                                {% field test %}
                                                {% if test.name == 'card_id' %}
                                                    <div class="d-block d-md-none">
                                                        <small class="form-text text-muted">
                                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                                            Information om var du kan hitta ditt kortnummer finns längre ner på sidan.
                                                        </small>
                                                    <br/>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </table>

                                    <br/>

                                    <p class="small">
                                        Genom att spara dina ändringar samtycker du till att de ifyllda uppgifterna sparas enligt Baljans <a href="{% url 'integrity' %}">integritetspolicy</a>.
                                    </p>
                                </div>
                                <div class="col-md">
                                    <h4 id="where-is-card-nr">Var hittar jag mitt kortnummer?</h4>
                                    <img src="{% static 'img/liukort.png' %}"/>
                                    <br/><br/>
                                    <p>Du hittar ditt LiU-kortnummer längst upp till höger på baksidan av ditt LiU-kort. För exemplet ovan hade du t.ex. fyllt i 1337133769 i fältet för LiU-kortnummer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Spara ändringar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        CONFIRM_MSG = "Är du säker?";

        $('a.accept, a.deny').click(function () {
            return confirm(CONFIRM_MSG);
        });

        $(function () {
            // Open edit modal if requested by url parameter
            if (window.location.search.indexOf("edit=") >= 0) {
                $('#edit-profile-modal').modal();
            }
        });
    </script>
{% endblock %}
