{% extends "baljan/baljan.html" %}
{% load i18n %}
{% load humanize %}
{% load baljan_extras %}

{% block head_title %}Termin{% endblock %}

{% block body %}
<style>
    .show-all .d-none{
        display: inline!important;
    }
</style>
{% if perms.baljan.change_semester and selected_semester %}
    <p><a href="{% url 'admin:baljan_semester_change' selected_semester.id %}">Admin</a></p>
{% endif %}
    <div class="row">
        <div class="col" style="padding-bottom: 5px;">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% for loc in locations %}
                    <a 
                        class="nav-item nav-link {% if loc.0 == selected_location %}active{% endif %}"
                        href="{% if loc.0 == None %}{% url 'located_semester' selected_semester.name 0 %}{% else %}{% url 'located_semester' selected_semester.name loc.0 %}{% endif %}"
                        role="tab" 
                        aria-selected="{% if loc.0 == selected_location %}true{% else %}false{% endif %}">
                        {{ loc.1 }}
                    </a>
                    {% endfor %}
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <select id="sem" class="form-control" >
                    {% for sem in semesters %}
                    <option {% if sem == selected_semester %}selected="selected" {% endif %}>{{ sem.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-4">
                <input class="shiftsfilter"  {% if selected_semester.upcoming %} checked="checked" {% else %} disabled="disabled" {% endif %}type="checkbox" id="upcoming-only" name="upcoming-only"/>
                <label for="upcoming-only">Endast kommande dagar</label>
        </div>
        {% if selected_semester.upcoming and perms.baljan.self_and_friend_signup %}
            <div class="col-4">
                <input class="shiftsfilter" type="checkbox" id="only-tradable" name="only-tradable"/>
                <label for="only-tradable">Endast bytbara pass.</label>
            </div>
        {% endif %}
    </div>

<div>
    <div id="schedule">
        <div class="table-responsive">
            <table class="table table-baljan">
                <thead>
                    <tr>
                        <th>Vecka</th>
                        <th>Dag</th>
                        <th>Datum</th>
                        <th>fm/em</th>
                        <th>Jobbare</th>
                        <th>Jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sh in shifts %}
                    <tr class="{%if sh.upcoming%}upcoming{%endif%}">
                        {% with sh.when|week as week %}
                            <td>
                                {% if perms.baljan.change_oncallduty %}
                                    <a href="{{sh.week_url}}">
                                        {% ifchanged week %}
                                            <span>{{week}}</span>
                                        {% else %}
                                            <span class="d-none">{{week}}</span>
                                        {% endifchanged %}
                                    </a>
                                {% else %}
                                    {% ifchanged week %}
                                            <span>{{week}}</span>
                                        {% else %}
                                            <span class="d-none">{{week}}</span>
                                    {% endifchanged %}
                                {% endif %}
                            </td>
                        {% endwith %}
                        {% with sh.when|date:'D' as day %}
                            <td>
                                {% ifchanged day %}
                                    <span>{{day}}</span>
                                {% else %}
                                    <span class="d-none">{{day}}</span>
                                {% endifchanged %}
                            </td>
                        {% endwith %}
                        <td>
                            {% with sh.when|naturalday as when %}
                                    {% ifchanged when %}
                                        <a href="{{ sh.get_absolute_url }}">
                                            {{when}}
                                        </a>
                                    {% else %}
                                        <a class="d-none" href="{{ sh.get_absolute_url }}">
                                            {{when}}
                                        </a>
                                    {% endifchanged %}
                            {% endwith %}
                        </td>
                        <td class="early-or-late">
                            {{ sh.ampm }}
                        </td>
                        <td>
                            {% for su in sh.shiftsignup_set.all %}
                                {% if su.can_trade %}
                                    <s><span class="tradable">{{su.user|name_link}}</span></s>
                                {% else %}
                                    {{su.user|name_link}}
                                {% endif %}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% if sh.span == 1 %}
                                ↕ Överlapp ↕
                            {% endif %}
                        </td>
                        <td class="on-call">
                            {% for u in sh.oncallduty_set.all %}
                            {{u|name_link}}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">


    /* Work Planning View */
    var updateShifts = function() {
        var sem = $('.sem :selected:first').html(),
            upcomingOnly = $('#upcoming-only').is(':checked'),
            onlySwitchable = $('#only-tradable').is(':checked'),
            filters = [],
            rows = 'table tbody tr';

        if (upcomingOnly) {
            filters.push(function(row) {
                return $(row).hasClass('upcoming');
            });
        }
        if (onlySwitchable) {
            filters.push(function(row) {
                return $(row).find('span.tradable').length !==0;
            });
            $("#schedule table").addClass('show-all');
        }
        else{
            $("#schedule table").removeClass('show-all');
        }

        $(rows).hide().filter(function() {
            for (i in filters) {
                if (filters[i](this) == false) {
                    return false;
                }
            }
            return true;
        }).show();
    };
       $( document ).ready(function() {
           updateShifts();
       });

        $('.shiftsfilter').change(function() {
           updateShifts();
        });

    SEMESTER_URLS = {
        {% for sem in semesters %}
            "{{sem.name}}": "{{ sem.get_absolute_url }}",
        {% endfor %}
        "dummy": false
    };
    $('#sem').change(function() {
        var val = $(this).children(':selected').html();
        location.href = SEMESTER_URLS[val];
    });

</script>
{% endblock %}
