
div#body {
    background-color: #eee;
}

.ie-support {
    font-size: .8em;
    font-style: italic;
    margin: 1em;
    text-align: center;
}

body.job-opening .slots td:hover {
    background: rgb(151, 192, 234);
}
body.job-opening .slots td.active {
    background: rgb(151, 192, 234);
}
