.calendar-nav .prev {
    float: left;
}
.calendar-nav .next {
    float: right;
}
.calendars.year {
    font-size: .6em;
}
.calendars h2 {
    text-align: center;
}
.cal-month {
    width: 40em;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.cal-month thead th {
    font-size: 1.1em;
    background: #000;
    color: #fff;
    border: 1px solid #000;
}
.cal-month tbody td {
    font-size: 1.5em;
    border: 1px solid #ccc;
    width: 13%;
    height: 3em;
}
.cal-month span {
    display: block;
}
.cal-month .other-month {
    border: none;
}
.cal-month tbody .week {
    width: 9%;
    font-style: italic;
    background: #eee;
}
.cal-month tbody .weekend {
    background: #eef;
    color: #666;
}
.has-morning-shift .morning-box, .has-afternoon-shift .afternoon-box {
    background: #ffc;
}
.has-morning-shift.morning-worker-count-0 .morning-box {
    background: #fcc;
}
.has-afternoon-shift.afternoon-worker-count-0 .afternoon-box {
    background: #fcc;
}
.has-morning-shift.morning-worker-count-2 .morning-box {
    background: #fcc;
}
.has-afternoon-shift.afternoon-worker-count-2 .afternoon-box {
    background: #cfc;
}
.cal-month tbody .weekend.history {
    background: #f3f3ff;
}
.cal-month tbody .history {;
    color: #ccc;
}
.today {
    font-weight: bold;
    border: 1px solid #000;
}
.day-of-month {
    height: 2em;
    padding-top: 1em;
    margin-top: -3em;
}
.morning-box, .afternoon-box {
    height: 1.5em;
}
.cal-month .ui-selected {
    border: 1px solid rgba(100, 120, 175, 0.9);
}
.cal-month .ui-selected .day-of-month {
    background: rgba(100, 120, 175, 0.3);
}

#calendar-modes {
    color: #fff;
    padding: .8em;
    position: fixed;
    bottom: .4em;
    right: .4em;
    width: 11em;
    border-radius: .3em;
    -moz-border-radius: .3em;
    background: rgba(175, 120, 100, 0.8);
}
#calendar-modes .selected {
    font-weight: bold;
}
#calendar-modes ul {
    list-style-type: none;
    margin: 0;
    margin-left: .3em;
    padding: 0;
}
#calendar-modes ul li {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#calendar-tasks {
    display: none;
    background: rgba(100, 120, 175, 0.8);
    color: #fff;
    padding: .8em;
    position: fixed;
    bottom: .4em;
    left: .4em;
    max-width: 14em;
    border-radius: .3em;
    -moz-border-radius: .3em;
}
#calendar-tasks .help {
    font-size: .9em;
}
#calendar-tasks ul {
    list-style-type: none;
    margin: 0;
    margin-left: .3em;
    padding: 0;
}
#calendar-tasks ul li {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
#calendar-tasks ul li.selected {
    font-weight: bold;
}
#calendar-tasks ul li:hover {
    text-decoration: underline;
}
#calendar-tasks .confirmation {
    visibility: hidden;
    text-align: right;
}
#calendar-tasks .confirmation span {
    cursor: pointer;
    display: inline-block;
    color: rgb(100, 120, 175);
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    padding: .2em .4em;
    border-radius: .3em;
    -moz-border-radius: .3em;
}
#calendar-tasks .confirmation span:hover {
    background: #fff;
}
.cal-views {
    text-align: right;
}
.clickable {
    cursor: pointer;
}
