.tooltip {
    display:none;
    background:url(../img/tt/black.png);
    height:99px;
    width:189px;
    padding: 5px 10px;
    font-size:11px;
    color:#fff;
}

.tooltip a {
    color:#ad4;
    font-size:11px;
    font-weight:bold;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

li.selected {
    font-weight: bold;
}

#tabhead .logo {
    height: 82px;
}
#tabhead .logo img {
    width: 500px;
    height: 100px;
}

#tabhead {
    background:url("../img/terminal-top.png") repeat-x scroll left top #bcf;
    border-bottom:1px solid #000000;
    position:relative;
}

#subnav {
    background: #bcf;
}

.legal {
    margin-top: 5em;
    font-size: .9em;
    text-align: left;
}
