.tooltip {
    display:none;
    background:url(../img/tt/black.png);
    height:99px;
    width:189px;
    padding: 5px 10px;
    font-size:11px;
    color:#fff;
}

.tooltip a {
    color:#ad4;
    font-size:11px;
    font-weight:bold;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

